/*ANIMATION MENU FADE IN apparition progressive*/

/*ANIMATION MENU FADE IN apparition progressive*/



@keyframes cartes-delay {
    0% {
      opacity: 0;
    }
   100% {
      opacity: 1;
    }
  }
  @keyframes fade-in-tiers {
    0% {
      opacity: 0;
    }
   100% {
      opacity: 1;
    }
  }

  .menu-restau__tiers  {
    animation: fade-in-tiers 3s forwards  ;
  }
    .menu-restau__tiers article {
    animation: cartes-delay 0.7s ease-out   forwards ;
  }

@for $i from 2 through 5 {
    .menu-restau__cartes:nth-child(#{$i}){
        animation-delay: 0.2s*$i;
    }
}
  
 

@media screen and (max-width: 768px) {
  
@media screen  and (min-width: 768px) and (max-width: 990px) {

} 

@media screen  and (min-width: 990px) {

}