@import 'abstracts/variables';
@import 'abstracts/mixins';
@import 'base/typography';
@import 'layout/navigation';
@import 'layout/header';
@import 'layout/footer';
@import 'components/buttons';
@import 'pages/home';


$color-tertiary-darker:rgb(54, 54, 54);
$color-tertiary-dark:rgb(112, 112, 112);
$color-tertiary-light: rgb(222, 222, 222);
$color-tertiary-lighter:rgb(245, 245, 245);
$font-gras: 700;
$font-tres-gras: 900;
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-emphasis-light: #99E2D0 ;
$color-emphasis-dark: rgb(0, 116, 58);
@mixin bouton-explorer {
    background-color: $color-primary;
    background-image: linear-gradient(to top left, $color-primary, $color-secondary);
    border-radius: 20px;
    text-decoration: none;
    line-height: 3rem;
    text-align: center;
    color: white;
}  

@mixin ombre-boutons { 
    box-shadow: 5px 5px 7px $color-tertiary-light;
}

@mixin ombre-cartes { 
    box-shadow: 9px 10px 16px $color-tertiary-light;
}

@mixin numeros-etapes {
        background-color: $color-primary;
        color: white;
        width: 28px;
        height: 19px;
        border-radius: 50px;
        padding-top: 6px;
        padding-bottom: 3px;
}



/*--FORMULAIRE--*/
 

.formulaire {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 2rem;
    height: 2rem;
    background-color: $color-tertiary-light; 
    border-top: 4px #c9c9c9 solid;
    border-bottom: 1px solid $color-tertiary-light;  
    cursor: pointer; 
 

    &__texte {
        color: $color-tertiary-darker; 
        font-weight: 700;
        background-color: $color-tertiary-light;
        border: $color-tertiary-light;
        width: 33%;
        padding-left: 5px;
    } 

    &__icone {
        color: $color-tertiary-darker;
        width: 4%;
        margin-right: 13px;
    }
    &__border_gradient {
        height: 2px;
        background-image: linear-gradient(to bottom, $color-tertiary-dark, #c9c9c9);
    }
}

/*BOUTON EXPLORER*/


.btn__ancre_explorer {
    @include bouton-explorer;
    width: 60%;
    padding-left: 1rem;
    padding-right: 1rem;
    @include ombre-boutons;
    font-weight: $font-weight-gras;
}


/*--SECTION FONCTIONNEMENT (fctn)--*/


.section-fctn 

   { display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;


    &__etape {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
        width: 100%;
        height: 3.5rem;
        background-color: $color-tertiary-lighter; 
        border: 0px $color-tertiary-lighter solid;
        border-radius: 17px;
        @include ombre-boutons;   
    }

    & i {
        font-size: 1rem;
        width:8%;
        color: $color-tertiary-dark;
    }

    & div:nth-of-type(3) {
        background-color: #ecddff;/*$background-color-degustez: #ecddff */
    }/*etape 3 : "dégustez au restaurant"*/

    & div:nth-of-type(3) i {
        color: $color-primary;
    }/*etape 3 : " icône restaurant (dégustez au restaurant)"*/

    &__numero {
        @include numeros-etapes;
        position: relative;
        left: -1rem;
        text-align: center;
    }

    &__texte {
        font-size: 1rem;
        font-weight: $font-weight-gras;
        width: 50%; 
    }

    &__titre {
        width: 100%;
    }

    & i :nth-of-type(3){
        color:$color-primary; 
    }

    &__iconemenu {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width:8%;
        gap:0.3rem;
    }
}


    /*SECTION RESTOS*/



#restos {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: $color-tertiary-lighter;
}

.restos__titre {
    padding-left: 2.5rem;
 }

.restos__fig {
    position: relative;
    @include ombre-cartes;
}

.restos__photos {
    max-width: 100%;
    max-height: 80%;
    border-radius: 15px 15px 0 0;  
}

.restos__nouveau {
    border: 3px $color-emphasis-light solid;
    background-color: $color-emphasis-light;
    color: $color-emphasis-dark;
    font-weight: $font-weight-gras;
    width: 20%;
    position: absolute;
    top: 1rem;
    right: 1rem;
    text-align: center;
} 

.restos__legende /*figcaption*/{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 0 0 15px 15px ;
    padding-left: 1.5rem;
    padding-right: 2rem;
}


.restos__infos /*nom et lieu du restaurant*/{
    display: flex;
    flex-direction: column;
} 


                                            /*Bouton coeur blanc + Bouton coeur violet*/


.restos__coeur {
    width: 3rem;
    height: 3rem;
    cursor: pointer;
}

&_plein {
    font-size: 0rem;
    display: none;  
}

&:active  > &_plein {
    color: transparent;
    background-image: linear-gradient(to bottom, $color-primary, $color-secondary);
    font-size: 2rem;
    font-weight: 300;
    display: block;
}

&_vide {
font-size: 2rem;
}

&:active  > &_vide  {    
    font-size: 0rem;  
}

/*FOOTER*/


footer {
    background-color: $color-tertiary-darker;
    display: flex;
    flex-direction: column;
    align-items: center;
}

    & ul {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        padding-right: 45px;
    }

    & li {
        list-style: none; 
        color: white;
    }

.footer__logo_white {
    font-family: Shrikhand;
    font-weight: 500;
    color: white;
    
}


    
.footer__ancres,.footer__ancres_illustrees {
    width: 25%;
}

.footer__ancres_illustrees {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px; 
}

.footer__ancres {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    line-height: 3rem;
}

& p, & a, .footer__icones {
    font-weight: $font-weight-gras;
}

.footer__icones {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 1.5rem;
    gap: 3px;
}


/*PAGE A LA FRANCAISE*/ 

.tout {
    height: 143rem;
    min-width: 356px;
}

/*HEADER*/ 


.header__container_restau {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 11rem;
    padding-left: 2rem;
    margin-top: 1rem;
}

.header__container_restau i {
    font-size: 2rem;
    font-weight: $font-weight-gras;
    color: $color-tertiary-darker;
}

/*EN-TETE*/ 


.entete__restau {
    width: 100%;
    margin-inline-start: 0;
    margin-inline-end: 0; 
}

.entete__restau img {
    object-fit: cover;
    width: 100%;
    height: 30rem;
    position: relative;
} /*@mixin*/ 

.entete__restau p {
    font-family: Shrikhand;
    font-size: 2.5rem;
    font-weight: $font-weight-gras;
    padding-left: 1.5rem;  
}

.entete__restau figcaption  {
    display: flex;
    flex-direction: row;   
    align-items: center;
    justify-content: space-between;
    padding-right: 3rem;
    background-color: $color-tertiary-light; 
    border-radius: 60px 60px 0 0; 
    position: relative; 
    bottom: 132px;
}

/*Bouton coeur blanc + Bouton coeur violet*/

.restau__coeur {
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

&_plein {
    font-size: 0rem;
    display: none;  
}

&:active  > &_plein {
    color: transparent;
    background-image: linear-gradient(to bottom, $color-primary, $color-secondary);
    font-size: 2rem;
    font-weight: 300;
    display: block;
}

&_vide {
font-size: 2rem;
}

&:active  > &_vide  {    
    font-size: 0rem;  
}

}
