

.footer {
    @include footer;

    &__masque{
        position:absolute;
        bottom: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background-color: white;
        z-index: 2;
        @include fade-out;
    }
    &__logo_white {
        @include footer-logo-white;
    }
    &__liste  {
        @include footer-liste;
    }

    & li {
        @include footer-li;
    }

    &__ancres_illustrees {
        @include footer-ancres-illustrees;
    }
    &__ancres {
        @include footer-ancres;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        line-height: 3rem;
    }  

}