/*--FORMULAIRE--*/

/*@mixin formulaire*/ 

@mixin formulaire {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: $color-tertiary-light; 
}
@mixin formulaire-texte {
    color: $color-tertiary-darker;  
    font-weight: $font-gras;
    background-color:  $color-tertiary-light;
    border:  $color-tertiary-light;
    border: none;
    outline: none;
} 

@mixin formulaire-texte-tablette-desktop {
    width: 38%;
    padding: 15px;
    border-radius: 17px;
    box-shadow: 9px 6px 4px $color-tertiary-medium;
}
@mixin formulaire-texte-combo-tablette-desktop{
    @include formulaire-texte;
    @include formulaire-texte-tablette-desktop;  
}
@mixin formulaire-icone{
    width: 20px;
    color: $color-tertiary-darker;
}
@mixin formulaire-border-gradient {
    background-image: linear-gradient(to bottom,$color-tertiary-dark, #c9c9c9);
}
$formulaire-border-hauteur:26px;

.formulaire__texte {
    @include formulaire-texte;
} 
.formulaire__border_gradient{
    @include formulaire-border-gradient;
}
.formulaire__icone {
    @include formulaire-icone;
}
.formulaire {
    @include formulaire;  
}




 
    