
/*FONTS*/


@font-face {
    font-family: Shrikhand;
    src: url('./shrikhand/Shrikhand-Regular.otf');
}
@font-face {
    font-family: Roboto;
    src: url('./robotofonts/roboto_regular_macroman/Roboto-Regular-webfont.woff');
}


/*--PAGE D'ACCUEIL MOBILE--*/


@media screen and (max-width: 768px) {
    

/*GENERAL*/


.accueil-fondu {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: whitesmoke;
    z-index: 1;
    animation: accueil-fondu_animation 1000ms forwards;
    animation-timing-function: ease-in-out;
}

@keyframes accueil-fondu_animation {
    
    from {
    opacity:0.9  ;
    }
    
    to {
    opacity:0  ;
    }

}

body {
    font-family: 'Roboto', sans-serif;  
    src: url('./robotofonts/roboto_regular_macroman/Roboto-Regular-webfont.woff');
    margin: 0;
}  

h1, h2 {
    font-size: 1.5rem;
    font-weight: 900;
}

p {
    font-size: 1rem;
    font-weight: normal;
}

a {
    text-decoration: none;
    cursor: pointer;
}

footer a  {
    font-size: 1.2rem;
}

/*HEADER-LOGO*/


.header__container {
    display:flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.header-logo {
    width:43%;
    margin-bottom: 1rem;
}


/*TITRES H1 H2 */


.container-titres {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:rgb(245, 245, 245);
    padding-bottom: 4rem;
}

.entete__titre,.entete__soustitre {
    padding-left: 0.5rem;
    text-align: center;
}


/*BOUTON EXPLORER*/


.btn__ancre_explorer {
    width: 60%;
    background-color: #9356DC;
    background-image: linear-gradient(to top left, #9356DC, #FF79DA);
    border-radius: 20px;
    text-decoration: none;
    line-height: 3rem;
    width: 55%;
    text-align: center;
    color: white;
    padding-left: 1rem;
    padding-right: 1rem;
}


/*--FORMULAIRE--*/



 
.formulaire {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 2rem;
    background-color: rgb(222, 222, 222); /*variable*/ 
    border-top: 4px #c9c9c9 solid;
    border-bottom: 1px solid rgb(222, 222, 222);   
}

.formulaire__texte {
    color: rgb(54, 54, 54); /*variable*/ 
    font-weight: 700;
    background-color: rgb(222, 222, 222);
    border: rgb(222, 222, 222);
    width: 33%;
    padding-left: 5px;
} 

.formulaire__icone {
    color: rgb(54, 54, 54);
    width: 4%;
    margin-right: 13px;
}

.formulaire__border_gradient {
    height: 2px;
    background-image: linear-gradient(to bottom,rgb(112, 112, 112), #c9c9c9);
}
/*--SECTION FONCTIONNEMENT (fctn)--*/


.section-fctn {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
}

.section-fctn__etape {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    width: 100%;
    height: 3.5rem;
    background-color: rgb(245, 245, 245); /*variable*/ 
    border: 0px rgb(245, 245, 245) solid;
    border-radius: 17px;
    box-shadow: 5px 5px 7px rgb(218, 218, 218);
    color: rgb(58, 58, 58);
}

.section-fctn div:nth-of-type(3) {
    background-color: #ecddff;
}/*etape 3 : "dégustez au restaurant"*/

.section-fctn div:nth-of-type(3) i {
    color: #9356DC;
}/*etape 3 : " icône restaurant (dégustez au restaurant)"*/

.section-fctn__numero {
    background-color: #9356DC;/*variable*/ 
    color: white;
    width: 28px;
    height: 19px;
    border-radius: 50px;
    padding-top: 3px;
    padding-bottom: 5px;
    position: relative;
    left: -1rem;
    text-align: center;
}

.section-fctn__texte {
    font-size: 1rem;
    font-weight: bold;
    width: 50%; 
}

.section-fctn__titre{
    width: 100%;
    font-size: 1.5rem;/*variable $font-titre-sections + titre fctn*/
    font-weight: 700;
}

.section-fctn i {
    font-size: 1rem;
    width:8%;
    color: rgb(112, 112, 112);/*variable*/ 
    margin: 10px;
}

.section-fctn i :nth-of-type(3){
    color:#9356DC ; /*variable*/ 
}





/*SECTION RESTOS*/



#restaurants {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: rgb(243, 243, 243);/*variable*/ 
}

.restos__titre {
    font-size: 1.5rem; /*variable $font-titre-sections + titre fctn*/
    padding-left: 2.5rem;
    font-weight: 700;
 }


.restos__fig {
    position: relative;
    box-shadow: 9px 10px 16px rgb(218 218 218);/*variable $cartes-ombre*/
    width: 92%;
    border-radius: 15px;

}
/*
.restos__photos {
    max-width: 100%;
    max-height: 80%;
    border-radius: 15px 15px 0 0;  
}*/
.restos__photos { 
    width: 100%;
    height: 15rem;
    border-radius: 15px 15px 0 0;
    object-fit: cover;

}
.restos__nouveau {
    border: 3px #99E2D0 solid;
    background-color: #99E2D0;
    color: rgb(0, 116, 58);
    font-weight: bold;
    width: 20%;
    position: absolute;
    top: 1rem;
    right: 1rem;
    text-align: center;
} 

.restos__legende /*figcaption*/{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 0 0 15px 15px ;
    padding-left: 1.5rem;
    padding-right: 2rem;
    height: 8rem;
}


.restos__infos /*nom et lieu du restaurant*/{
    display: flex;
    flex-direction: column;
} 


                                            /*Bouton coeur blanc + Bouton coeur violet*/
                                            
                                            
.restos__coeur {
    font-size: 2rem;
    position: relative;
    height: 2rem;
    font-size: 2rem;
    width: 2rem;
    cursor: pointer;
    border: none;
    background-color: white;
}        

 .restos__coeur_plein {
    background: -webkit-linear-gradient(#9356DC, #FF79DA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: -1;
}

.restos__coeur_vide {
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 0;
      
}

/*--Hover sur div-coeur: coeur Blanc devient Violet --*/

.restos__coeur:hover  .restos__coeur_vide {
    z-index: -1;
}        
.restos__coeur:hover  .restos__coeur_plein {
    z-index: 0;
}    

                                


/*--FOOTER MOBILE--*/


footer {
    display: flex;
    flex-direction: column;
    justify-content: start;
    background-color: rgb(65, 65, 65);/*variable*/ 
    color: white;
    padding-top: 1.5rem;
    
}

.footer__logo_white {
    font-family: Shrikhand;
    font-weight: 500;
    color: white;
}

.footer__liste  {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: initial;
}


li {
   list-style: none; 
}

.footer__ancres_illustrees {
    display: flex;
    flex-direction: row;
    align-items: center; 
}

.footer__ancres {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    line-height: 3rem;
}

.footer__icones {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 1.5rem;
    margin-right: 0.5rem;
}

}


/*--PAGE D'ACCUEIL TABLETTE--*/


@media screen  and (min-width: 768px) and (max-width: 990px) {
    

   /*FONTS*/ 


@font-face {
    font-family: Roboto;
    src: url('./robotofonts/roboto_regular_macroman/Roboto-Regular-webfont.woff');
}


/*GENERAL*/


body {
    font-family: Roboto;
}

main {
    height: 167rem;
}


/*HEADER-LOGO*/


header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
} 

.header__container {
    display:flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}


/*FORMULAIRE*/


.formulaire {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: rgb(211 211 211);    
    
}
  
.formulaire__texte {
    color: rgb(54, 54, 54);
    font-weight: 700;
    background-color: rgb(240, 240, 240);
    border: rgb(222, 222, 222);
    width: 38%;
    padding: 15px;
    border-radius: 17px;
    box-shadow: 9px 6px 4px rgb(205 205 205);
} 
    
.formulaire__icone {
    color: rgb(54, 54, 54);
    margin-right: 10px;
}

.formulaire__border_gradient {
    height: 26px;
    background-image: linear-gradient(to bottom,rgb(112, 112, 112), #c9c9c9);
}


/*TITRES H1 H2 + bouton Explorer*/ 


.container-titres {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;
    background-color:rgb(245, 245, 245);
    border-radius: 0 0 25px 25px;
}

.btn__ancre_explorer {
    width: 60%;
    background-color: #9356DC;
    background-image: linear-gradient(to top left, #9356DC, #FF79DA);
    border-radius: 20px;
    text-decoration: none;
    line-height: 3rem;
    width: 50%;
    text-align: center;
    color: white;
    margin-top: 1rem;
    box-shadow: 6px 8px 6px rgb(205 205 205);
}


/*SECTION FONCTIONNEMENT (fctn)*/


.section-fctn {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
    margin-top: 2rem;
}

.section-fctn__titre {
    width: 100%;
    text-align: center;
}

.section-fctn__etape {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 30%;
    height: 4rem;
    border: 0px rgb(227, 227, 227) solid;
    border-radius: 50px;
    box-shadow: 7px 15px 17px rgb(218, 218, 218);
    position: relative;
    cursor: pointer;
}

.section-fctn div:nth-of-type(3) {
    background-color: #ecddff;
}/*etape 3 : "dégustez au restaurant"*/

.section-fctn div:nth-of-type(3) i {
    color: #9356DC;
}/*etape 3 : " icône restaurant (dégustez au restaurant)"*/

.section-fctn__numero{
    background-color: #9356DC;
    background-image: linear-gradient(to top right, #9356DC, #FF79DA);
    color: white;
    width: 29px;
    height: 23px;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    border-radius: 50px;
    padding-top: 5px;
    position: relative;
    left: -1rem;
}

.section-fctn i {
    font-size: 1rem;
    font-weight: 900;
    color: rgb(143, 143, 143);
}

.section-fctn__icones {
    border-radius: 50px;
    margin: 10px;  
}

.section-fctn__texte {
    font-size: 1rem;
    font-weight: bold;
    width: 50%;
    color: rgb(58, 58, 58);
}


/*SECTION RESTOS*/ 


#restaurants {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    margin-bottom: 3rem;
    padding-bottom: 3rem;
    background-color: rgb(243, 243, 243);
}

#restaurants article{    
    width: 47rem;
    margin-bottom: 2rem; 
}

.restos__fig {
    width: 80%;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 6rem;
    box-shadow: 9px 10px 16px rgb(218 218 218);
    border-radius: 0 0 15px 15px;
}

#restaurants img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-bottom: 0;
    border-radius: 15px 15px 0 0;
    box-sizing: border-box;
}

.restos__legende /*figcaption*/ {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 0.4rem;
    padding-right: 2rem;
    background-color: white;
    border-radius: 0 0 15px 15px;
    border-top: 0;
    box-sizing: border-box; 
}

.restos__infos /*nom et lieu du restaurant*/{
    display: flex;
    flex-direction: column;
}

.restos__nouveau {
    border: 3px #99E2D0 solid;
    background-color: #99E2D0;
    color: rgb(0, 116, 58);
    font-weight: bold;
    width: 20%;
    position: absolute;
    top: 1rem;
    right: 1rem;
    text-align: center;
}   

                                        /*Bouton coeur blanc + Bouton coeur violet*/
                                            
                                            
.restos__coeur {
    font-size: 2rem;
    position: relative;
    height: 2rem;
    font-size: 2rem;
    width: 2rem;
    cursor: pointer;
    border: none;
    background-color: white;
}        

 .restos__coeur_plein {
    background: -webkit-linear-gradient(#9356DC, #FF79DA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: -1;
}

.restos__coeur_vide {
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 0;
      
}

/*--Hover sur div-coeur: coeur Blanc devient Violet --*/

.restos__coeur:hover  .restos__coeur_vide {
    z-index: -1;
}        
.restos__coeur:hover  .restos__coeur_plein {
    z-index: 0;
}    


/*FOOTER TABLETTE*/


footer {
    background-color: rgb(65, 65, 65);
    display: flex;
    flex-direction: column;
    padding-right: 2rem;
}
  
.footer__logo_white {
    font-family: Shrikhand;
    font-weight: 500;
    font-size: 1.5rem;
    color: white;
    margin-left: 4rem;
}

.footer__liste  {
    display: flex;
    justify-content: space-between;
}

li {
    list-style: none; 
    color: white;
}

.footer__ancres,.footer__ancres_illustrees {
    width: 25%;
}

.footer__ancres_illustrees {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px; 
    font-weight: 600;
}
   
.footer__ancres {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    line-height: 3rem;
}




}


/*PAGE D'ACCUEIL DESKTOP*/


@media screen  and (min-width: 990px) {

/*FONTS*/


@font-face {
    font-family: Roboto;
    src: url('./robotofonts/roboto_regular_macroman/Roboto-Regular-webfont.woff');
}

/*GENERAL*/


body {
    font-family: Roboto;
}

main {
    height: 167rem;
}

/*HEADER-LOGO*/


header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.header__container {
    display:flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}  
    

/*TITRES H1 H2 + bouton Explorer*/ 
  

.container-titres {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;
    background-color: rgb(245, 245, 245);
    border-radius: 0 0 25px 25px;
}
  
.btn__ancre_explorer {
    width: 60%;
    background-color: #9356DC;
    background-image: linear-gradient(to top left, #9356DC, #FF79DA);
    border-radius: 20px;
    text-decoration: none;
    line-height: 3rem;
    width: 50%;
    text-align: center;
    color: white;
    box-shadow: 6px 8px 6px rgb(205 205 205);
}
  

/*FORMULAIRE*/ 


.formulaire {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: rgb(211 211 211);    
    
}
  
.formulaire__texte {
    color: rgb(54, 54, 54);
    font-weight: 700;
    background-color: rgb(240, 240, 240);
    border: rgb(222, 222, 222);
    width: 38%;
    padding: 15px;
    border-radius: 17px;
    box-shadow: 9px 6px 4px rgb(205 205 205);
} 
  
.formulaire__icone {
    color: rgb(54, 54, 54);
    margin-right: 6px;
}
  
.formulaire__border_gradient {
    height: 26px;
    background-image: linear-gradient(to bottom,rgb(112, 112, 112), #c9c9c9);
}
/*SECTION FONCTIONNEMENT (fctn)*/ 


.section-fctn {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding-left: 0rem;
    padding-right: 0rem;
    margin-top: 2rem;
}
  
.section-fctn__titre{
    width: 100%;
    text-align: center;     
}
  
.section-fctn__etape {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 24%;
    border: 0px rgb(227, 227, 227) solid;
    border-radius: 50px;
    box-shadow: 7px 15px 17px rgb(218, 218, 218);
    position: relative;
    font-size: 0.9rem;
}

.section-fctn div:nth-of-type(3) {
    background-color: #ecddff;
}/*etape 3 : "dégustez au restaurant"*/

.section-fctn div:nth-of-type(3) i {
    color: #9356DC;
}/*etape 3 : " icône restaurant (dégustez au restaurant)"*/

.section-fctn__numero{
    background-color: #9356DC;
    background-image: linear-gradient(to top right, #9356DC, #FF79DA);
    color: white;
    width: 28px;
    height: 23px;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    border-radius: 50px;
    padding-top: 5px;
    position: relative;
    left: -1rem;  
}

.section-fctn i {
    font-size: 1rem;
    font-weight: 900;
    color: rgb(143, 143, 143);
}

.section-fctn__icones {
    border-radius: 50px;
    margin: 10px;
}

.section-fctn__texte {
    font-size: 1rem;
    font-weight: bold;
    width: 50%;
    color: rgb(58, 58, 58);
}
  

/*RESTOS*/ 


#restaurants {
    display: flex;
    flex-direction: column;
    /* flex-wrap: nowrap; */
    align-items: center;
    margin-top: 5rem;
    margin-bottom: 3rem;
    padding-bottom: 3rem;
    background-color: rgb(243, 243, 243);
}
  
#restaurants article{
    width: 47rem;
    margin-bottom: 2rem;
}
  
.restos__fig {
    width: 80%;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 6rem;
    box-shadow: 9px 10px 16px rgb(218 218 218);
    border-radius: 0 0 15px 15px;
}
  
#restaurants img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-bottom: 0;
    border-radius: 15px 15px 0 0;
    box-sizing: border-box;
}
  
.restos__legende/*figcaption*/  {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 0.4rem;
    padding-right: 2rem;
    background-color: white;
    border-radius: 0 0 15px 15px;
    border-top: 0;
    box-sizing: border-box;
    
}



.restos__infos /*nom et lieu du restaurant*/{
    display: flex;
    flex-direction: column; 
}

.restos__nouveau {
    border: 3px rgb(132, 255, 108) solid;
    background-color: rgb(132, 255, 108);
    color: rgb(0, 116, 58);
    font-weight: bold;
    width: 20%;
    position: absolute;
    top: 1rem;
    right: 1rem;
    text-align: center;
} 

                                       
                                                /*Bouton coeur blanc + Bouton coeur violet*/
                                            
                                            
.restos__coeur {
    font-size: 2rem;
    position: relative;
    height: 2rem;
    font-size: 2rem;
    width: 2rem;
    cursor: pointer;
    border: none;
    background-color: white;
}        

 .restos__coeur_plein {
    background: -webkit-linear-gradient(#9356DC, #FF79DA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: -1;
}

  .restos__coeur_vide {
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 0;
    
}

/*--Hover sur div-coeur: coeur Blanc devient Violet --*/

.restos__coeur:hover  .restos__coeur_vide {
    z-index: -1;
}        
.restos__coeur:hover  .restos__coeur_plein {
    z-index: 0;
}    

 
/*FOOTER DESKTOP*/ 


footer {
    background-color: rgb(65, 65, 65);
    display: flex;
    flex-direction: column;
    padding-right: 2rem;
}
  
.footer__logo_white {
    font-family: Shrikhand;
    font-weight: 500;
    font-size: 1.5rem;
    color: white;
    margin-left: 4rem;
}

.footer__liste  {
    display: flex;
    justify-content: space-between;
}

li {
    list-style: none; 
    color: white;
}

.footer__ancres,.footer__ancres_illustrees {
    width: 25%;
}

.footer__ancres_illustrees {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px; 
    font-weight: 600;
}
   
.footer__ancres {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    line-height: 3rem;
}

}



/*PAGE RESTAURANT mobile*/ 


@media screen and (max-width: 768px) {
    

/*GENERAL*/


body {
    font-family: 'Roboto', sans-serif;  
    src: url('./robotofonts/roboto_regular_macroman/Roboto-Regular-webfont.woff');
    margin: 0;
}  

h1, h2 {
    font-size: 1.3rem;
    font-weight: 900;
}

p {
    font-size: 1.2rem;
    font-weight: normal;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.tout {
    height: 145rem;
    min-width: 356px;
}

/*HEADER*/ 


.header__container_restau {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 11rem;
    padding-left: 2rem;
    margin-top: 1rem;
}


.header__container_restau i {
    
    position: absolute;
    left: 20px;
    top: 25px;
    font-size: 1.5rem;
    font-weight: 700;
    color: rgb(58, 58, 58);
}

.header__restos_logo {
    min-width: 190px;
    width: 42%;
    margin-left: 8%;
}

/*HEADER*/ 


.header__container_restau {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 19%;
    padding-left: 2rem;
    margin-top: 1rem;
}


/*EN-TETE*/ 


.entete__restau {
    width: 100%;
    margin-inline-start: 0;
    margin-inline-end: 0; 
}

.entete__restau img {
    object-fit: cover;
    width: 100%;
    height: 30rem;
    position: relative;
} /*@mixin*/ 

.entete__restau p {
    font-family: Shrikhand;
    font-size: 2.5rem;
    font-weight: 700;
    padding-left: 1.5rem;  
}

.entete__restau figcaption  {
    display: flex;
    flex-direction: row;   
    align-items: center;
    justify-content: space-between;
    padding-right: 3rem;
    background-color: rgb(222, 222, 222); 
    border-radius: 60px 60px 0 0; 
    position: relative; 
    bottom: 132px;
}

/*MENU éléments statiques*/


.menu__restau { 
    position: relative;
    top: -165px;   
    background-color: rgb(222, 222, 222); 
    padding-left: 2rem ;
    padding-right: 2rem ;
    padding-bottom: 7rem;
    
}

.menu__restau_titre { 
    text-transform: uppercase;
    font-size: 2rem;
    line-height: 2rem;
    padding-top: 2rem;
    position: relative;
}

.menu__restau_soulignement { 
    border-bottom: 4px #99E2D0 solid;
    height: 3px;
    width: 5rem;
    position: relative;
    top: -25px;
}

.menu__slide {
    display: flex;
    flex-direction: row;
    background-color: #99E2D0;
    font-weight: 700;
    width: 3rem;
    height: 3rem;
    padding: 2rem;
    position: relative;
    left: 8rem;
}

.menu__plats {
    width: 50%;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.menu__btn_commander {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 28%;
    min-width: 90px;
    background-color: #9356DC;
    background-image: linear-gradient(to top left, #9356DC, #FF79DA);
    border-radius: 25px;
    text-decoration: none;
    text-align: center;
    color: white;
    margin-top: 3rem;
    padding-top: 1px;
    padding-bottom: 1px;
    box-shadow: 6px 8px 6px rgb(205 205 205);
    line-height: 3rem;
    text-align: center;
    color: white;
    font-weight: 500;
}

.menu__restau a { 
    display: flex;
    flex-direction: row;
    justify-content: center;
}



/* MENU éléments animés*/

/* carte */

.menu__restau_cartes { 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    border-radius: 25px;
    padding-left: 1rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    box-shadow: 6px 8px 6px rgb(205 205 205);
    position: relative;
    cursor: pointer;
    overflow: hidden;
}


/*Fa spin*/


.fa-check/* icone*/ {
    color: #99E2D0;
    font-weight: 700;
    font-size: 1.5rem;
}

.fa-tourne /* div*/  { 
    position: absolute;
    width: 1rem;
    height: 1rem;
    border-radius: 50px;
    border: 1px #99E2D0 solid;
    padding: 8px 14px 14px 10px;
    background-color: white;
    bottom: 2rem;
}

/*Animation sélection plats*/

.menu__restau_cartes:hover .fa-tourne {
    transform: rotate(360deg);
    transition: all 0.3s ease-in-out;
}

.menu__restau_cartes:hover .menu__slide, .menu__slide p {
    transform: translateX(-8rem);
    transition: all 0.3s ease-in-out;
}

.menu__restau_cartes:hover .menu__plats {
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    transition: width 0.3s ;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/*ANIMATION COEUR OPACITY*/
                                            
                                            
.restau__coeur {
    font-size: 2rem;
    position: relative;
    height: 2rem;
    font-size: 2rem;
    width: 2rem;
    cursor: pointer;
    border: none;
    background-color: rgb(222, 222, 222); 
}        


.restau__coeur_plein {
    background: -webkit-linear-gradient(#9356DC, #FF79DA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 0;
    opacity: 0;
}

.restau__coeur_vide {
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 0;
}


@keyframes coeur-fill {
    from {
      opacity: 0;
      
    }
  
    to {
        opacity: 1;
        
    }
  }

.restau__coeur:hover  .restau__coeur_plein {
    animation: coeur-fill 0.4s forwards;
    animation-timing-function: ease-in;
    
}    
.restau__coeur:hover .restau__coeur_vide {
    transform: scale(1.1) ;
    transition: transform  0.2s ease-in-out;
    
}  


/*--FOOTER--*/


footer {
    background-color: rgb(65, 65, 65);/*variable*/ 
    color: white;
    padding-left: 1.5rem;
    padding-top: 1.5rem;
}

.footer__logo_white {
    font-family: Shrikhand;
    font-weight: 500;
    color: white;
}

.footer__liste  {
    display: flex;
    justify-content: space-between;
} 

li  {
   list-style: none; 
}

.footer__ancres_illustrees {
    display: flex;
    flex-direction: row;
    align-items: center; 
}

.footer__ancres {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    line-height: 3rem;
}

.footer__icones {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 1.5rem;
}



/*Animation apparition progressive*/



@keyframes fade-in {
    from {
      opacity: 0;
    }
  
    to {
        opacity: 1;
    }
  }

  @keyframes slide-up {
    0%, 50% {
        transform: translateY( 0.75rem ) ;
    }
    50% {
        transform: translateY( 0.75rem ) ;
    }
  }

  


  .menu__restau_cartes {
    animation: slide-up 0.6s;
    animation-timing-function: ease-in-out;
}

 .menu__restau_cartes {
    animation: fade-in 3000ms;
    animation-timing-function: ease-in;
}

}





/*PAGE  RESTAURANT tablette*/ 
@media screen  and (min-width: 768px) and (max-width: 990px) {

.tout {
    height: 134rem;
}
    
        
    
/*HEADER*/ 


.header__container_restau {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 19%;
    padding-left: 2rem;
    margin-top: 1rem;
    padding-right: 4rem;
}

.header__container_restau i {
    font-size: 2rem;
    font-weight: 700;
    color: rgb(58, 58, 58);
    position: absolute;
    left: 63px;
    top: 76px;
}

/*EN-TETE*/ 


.entete__restau {
    width: 100%;
    margin-inline-start: 0;
    margin-inline-end: 0; 
}

.entete__restau img {
    object-fit: cover;
    width: 100%;
    height: 30rem;
    position: relative;
} /*@mixin*/ 

.entete__restau p {
    font-family: Shrikhand;
    font-size: 2.5rem;
    font-weight: 700;
    padding-left: 1.5rem;  
}

.entete__restau figcaption  {
    display: flex;
    flex-direction: row;   
    align-items: center;
    justify-content: space-between;
    padding-right: 3rem;
    background-color: rgb(222, 222, 222); 
    border-radius: 60px 60px 0 0; 
    position: relative; 
    bottom: 132px;
}



/*MENU éléments statiques*/


.menu__restau { 
    position: relative;
    top: -344px;   
    font-size: initial; 
    background-color: rgb(222, 222, 222); 
    padding-left: 2rem ;
    padding-right: 2rem ;
    padding-bottom: 7rem;
    
}

.menu__restau_titre { 
    text-transform: uppercase;
    font-size: 2rem;
    line-height: 2rem;
    padding-top: 2rem;
    position: relative;
}

.menu__restau_soulignement { 
    border-bottom: 4px #99E2D0 solid;
    height: 3px;
    width: 5rem;
    position: relative;
    top: -25px;
}

.menu__slide {
    display: flex;
    flex-direction: row;
    background-color: #99E2D0;
    font-weight: 700;
    width: 3rem;
    height: 3rem;
    padding: 2rem;
    position: relative;
    left: 8rem;
}

.menu__plats {
    width: 50%;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.menu__btn_commander {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 28%;
    min-width: 90px;
    background-color: #9356DC;
    background-image: linear-gradient(to top left, #9356DC, #FF79DA);
    border-radius: 25px;
    text-decoration: none;
    text-align: center;
    color: white;
    margin-top: 3rem;
    padding-top: 1px;
    padding-bottom: 1px;
    box-shadow: 6px 8px 6px rgb(205 205 205);
    line-height: 3rem;
    text-align: center;
    color: white;
    font-weight: 500;
}

.menu__restau a { 
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-decoration: none;
}

/*Bouton coeur blanc + Bouton coeur violet*/
                                            
                                            
.restau__coeur {
    font-size: 2rem;
    position: relative;
    height: 2rem;
    font-size: 2rem;
    width: 2rem;
    cursor: pointer;
    border: none;
    background-color: white;
}        

 .restau__coeur_plein {
    background: -webkit-linear-gradient(#9356DC, #FF79DA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: -1;
}

.restau__coeur_vide {
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 0;
      
}

/*--Hover sur div-coeur: coeur Blanc devient Violet --*/

.restau__coeur:hover  .restau__coeur_vide {
    z-index: -1;
}        
.restau__coeur:hover  .restau__coeur_plein {
    z-index: 0;
} 

/* MENU éléments animés*/

/* carte */

.menu__restau_cartes { 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    border-radius: 25px;
    padding-left: 1rem;
    /*padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;*/
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    box-shadow: 6px 8px 6px rgb(205 205 205);
    position: relative;
    cursor: pointer;
    overflow: hidden;
}


/*Fa spin*/


.fa-check/* icone*/ {
    color: #99E2D0;
    font-weight: 700;
    font-size: 1.5rem;
}

.fa-tourne /* div*/  { 
    position: absolute;
    width: 1rem;
    height: 1rem;
    border-radius: 50px;
    border: 1px #99E2D0 solid;
    padding: 8px 14px 14px 10px;
    background-color: white;
    bottom: 2rem;
}

/*Animation sélection plats*/

.menu__restau_cartes:hover .fa-tourne {
    transform: rotate(360deg);
    transition: all 0.3s ease-in-out;
}

.menu__restau_cartes:hover .menu__slide, .menu__slide p {
    transform: translateX(-8rem);
    transition: all 0.3s ease-in-out;
}

.menu__restau_cartes:hover .menu__plats {
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    transition: width 0.3s ;
    text-overflow: ellipsis;
    white-space: nowrap;
}



/*--FOOTER--*/


footer {
    background-color: rgb(65, 65, 65);
    display: flex;
    flex-direction: column;
    padding-right: 2rem;
}
  
.footer__logo_white {
    font-family: Shrikhand;
    font-weight: 500;
    font-size: 1.5rem;
    color: white;
    margin-left: 4rem;
}

.footer__liste  {
    display: flex;
    justify-content: space-between;
}

li {
    list-style: none; 
    color: white;
}

.footer__ancres,.footer__ancres_illustrees {
    width: 25%;
}

.footer__ancres_illustrees {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px; 
    font-weight: 600;
}
   
.footer__ancres {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    line-height: 3rem;
}


/*Animation apparition progressive*/



@keyframes fade-in {
    from {
        opacity: 0;
    }
    
    to {
        opacity: 1;
    }
    }

    @keyframes slide-up {
    0%, 50% {
        transform: translateY( 0.75rem ) ;
    }
    50% {
        transform: translateY( 0.75rem ) ;
    }
    }
    
        
    
    
.menu__restau_cartes {
    animation: slide-up 0.6s;
    animation-timing-function: ease-in-out;
    animation-delay: 0.5s;
}

.menu__restau_cartes {
    animation: fade-in 0.6s;
    animation-timing-function: ease-in;
}
    
}
    



/*PAGE  RESTAURANT desktop*/ 


@media screen  and (min-width: 990px) {




.tout {
    height: 134rem;
}

    

/*HEADER*/ 


.header__container_restau {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 19%;
    padding-left: 2rem;
    margin-top: 1rem;
    padding-right: 4rem;
}


.header__container_restau i {
    font-size: 2rem;
    font-weight: 700;
    color: rgb(58, 58, 58);
    position: absolute;
    left: 63px;
    top: 76px;
}
/*EN-TETE*/ 


.entete__restau {
    width: 100%;
    margin-inline-start: 0;
    margin-inline-end: 0; 
}

.entete__restau img {
    object-fit: cover;
    width: 100%;
    height: 30rem;
    position: relative;
} /*@mixin*/ 

.entete__restau p {
    font-family: Shrikhand;
    font-size: 2.5rem;
    font-weight: 700;
    padding-left: 1.5rem;  
}

.entete__restau figcaption  {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-right: 3rem;
    background-color: rgb(222, 222, 222);
    border-radius: 60px 60px 0 0;
    position: relative;
    bottom: 301px;
}


/*Bouton coeur blanc + Bouton coeur violet*/
                                            
                                            
.restau__coeur {
    position: relative;
    height: 2rem;
    font-size: 2rem;
    width: 2rem;
    cursor: pointer; 
    

}        

 

.restau__coeur_vide {
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 1;
    overflow: hidden;  
}

/*--Hover sur div-coeur: coeur Blanc devient Violet --*/

.restau__coeur_vide:hover >.restau__coeur_vide::after {
   animation: coeur-fill-up 2s;
}       
  



@keyframes coeur-fill-up {
    from {
          transform: translateY(93%)  ;
      }

      to {
          transform: translateY (0%);
      }
  }


/*MENU éléments statiques*/


.menu__restau { 
    position: relative;
    top: -344px;   
    font-size: initial; 
    background-color: rgb(222, 222, 222); 
    padding-left: 2rem ;
    padding-right: 2rem ;
    padding-bottom: 7rem;
    
}

.menu__restau_titre { 
    text-transform: uppercase;
    font-size: 2rem;
    line-height: 2rem;
    padding-top: 2rem;
    position: relative;
}

.menu__restau_soulignement { 
    border-bottom: 4px #99E2D0 solid;
    height: 3px;
    width: 5rem;
    position: relative;
    top: -25px;
}

.menu__slide {
    display: flex;
    flex-direction: row;
    background-color: #99E2D0;
    font-weight: 700;
    width: 3rem;
    height: 3rem;
    padding: 2rem;
    position: relative;
    left: 8rem;
}

.menu__plats {
    width: 50%;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.menu__btn_commander {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 28%;
    min-width: 90px;
    background-color: #9356DC;
    background-image: linear-gradient(to top left, #9356DC, #FF79DA);
    border-radius: 25px;
    text-decoration: none;
    text-align: center;
    color: white;
    margin-top: 3rem;
    padding-top: 1px;
    padding-bottom: 1px;
    box-shadow: 6px 8px 6px rgb(205 205 205);
    line-height: 3rem;
    text-align: center;
    color: white;
    font-weight: 500;
}

.menu__restau a { 
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-decoration: none;
}



/* MENU éléments animés*/

/* carte */

.menu__restau_cartes { 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    border-radius: 25px;
    padding-left: 1rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    box-shadow: 6px 8px 6px rgb(205 205 205);
    position: relative;
    cursor: pointer;
    overflow: hidden;
    width: 80%;
}


/*Fa spin*/


.fa-check/* icone*/ {
    color: #99E2D0;
    font-weight: 700;
    font-size: 1.5rem;
}

.fa-tourne /* div*/  { 
    position: absolute;
    width: 1rem;
    height: 1rem;
    border-radius: 50px;
    border: 1px #99E2D0 solid;
    padding: 8px 14px 14px 10px;
    background-color: white;
    bottom: 2rem;
}

/*Animation sélection plats*/

.menu__restau_cartes:hover .fa-tourne {
    transform: rotate(360deg);
    transition: all 0.3s ease-in-out;
}

.menu__restau_cartes:hover .menu__slide, .menu__slide p {
    transform: translateX(-8rem);
    transition: all 0.3s ease-in-out;
}

.menu__restau_cartes:hover .menu__plats {
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    transition: width 0.3s ;
    text-overflow: ellipsis;
    white-space: nowrap;
}



/*FOOTER DESKTOP*/ 


footer {
    background-color: rgb(65, 65, 65);
    display: flex;
    flex-direction: column;
    padding-right: 2rem;
}
  
.footer__logo_white {
    font-family: Shrikhand;
    font-weight: 500;
    font-size: 1.5rem;
    color: white;
    margin-left: 4rem;
}

.footer__liste  {
    display: flex;
    justify-content: space-between;
}

li {
    list-style: none; 
    color: white;
}

.footer__ancres,.footer__ancres_illustrees {
    width: 25%;
}

.footer__ancres_illustrees {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px; 
    font-weight: 600;
}
   
.footer__ancres {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    line-height: 3rem;
}

}


/*Animation apparition progressive*/



@keyframes fade-in {
    from {
        opacity: 0;
    }
    
    to {
        opacity: 1;
    }
    }

@keyframes slide-up {
    0%, 50% {
        transform: translateY( 0.75rem ) ;
    }
    50% {
        transform: translateY( 0.75rem ) ;
    }
}

    

.menu__restau_cartes {
    animation: fade-in 0.6s;
    animation-timing-function: ease-in;
}

.menu__restau_cartes {
    animation: slide-up 0.6s;
    animation-timing-function: ease-in-out;
    animation-delay: 0.5s;
}



}









