@font-face {
    font-family: Shrikhand;
    src: url('./shrikhand/Shrikhand-Regular.otf');
}
@font-face {
    font-family: Roboto;
    src: url('./robotofonts/roboto_regular_macroman/Roboto-Regular-webfont.woff');
}

@media screen and (max-width: 768px) {
    


  body {
      font-family: 'Roboto', sans-serif;  
      src: url('./robotofonts/roboto_regular_macroman/Roboto-Regular-webfont.woff');
}  

h1, h2 {
    font-size: 1.2rem;
    font-weight: 900;
}

p {
    font-size: 1rem;
    font-weight: normal;
}

a {
    text-decoration: none;
    cursor: pointer;
}



/*container logo*/


.container-logo {
    display:flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}



/*container titre*/

.container-titres {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 12rem;
    background-color:rgb(245, 245, 245);
}

.entete-titre,.entete-soustitre {
    padding-left: 0.5rem;
}

.btn-ancre-explorer {
    width: 60%;
    background-color: #9356DC;
    background-image: linear-gradient(to top left, #9356DC, #FF79DA);
    border-radius: 20px;
    text-decoration: none;
    line-height: 3rem;
    width: 55%;
    text-align: center;
    color: white;
    padding-left: 1rem;
    padding-right: 1rem;
}

.header-logo {
    width:40%;
}

/*--Formulaire--*/


.formulaire {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 2rem;
    background-color: rgb(222, 222, 222); /*variable*/ 
    border-top: 4px #c9c9c9 solid;
    border-bottom: 1px solid rgb(222, 222, 222) ;
    
}

.formulaire-texte {
    color: rgb(54, 54, 54); /*variable*/ 
    font-weight: 700;
    background-color: rgb(222, 222, 222);
    border: rgb(222, 222, 222);
    width: 33%;
    padding-left: 5px;
} 

.formulaire-icone {
    color: rgb(54, 54, 54);
    width: 4%;
    margin-right: 13px;
}




/*--Fonctionnement (fctn)--*/


.fctn{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
}

.btn-fctn{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    width: 100%;
    height: 3.5rem;
    background-color: rgb(245, 245, 245); /*variable*/ 
    border: 0px rgb(245, 245, 245) solid;
    border-radius: 17px;
    box-shadow: 5px 5px 7px rgb(218, 218, 218);
    color: rgb(58, 58, 58);
}


.fctn-btn_degustez {
    background-color: #fefdff;
}

/*rajouter hover-focus-active pour i font awesome*/

.btn-fctn i:focus {
    color: #d3dc56;
}

.fctn-nmbr{
    background-color: #9356DC;/*variable*/ 
    color: white;
    width: 28px;
    height: 19px;
    border-radius: 50px;
    padding-top: 6px;
    padding-bottom: 3px;
    position: relative;
    left: -1rem;
    text-align: center;
}

.fctn-texte {
    font-size: 1rem;
    font-weight: bold;
    width: 50%;
    
}

.section-fctn-titre{
    width: 100%;
}

.fctn i {
    font-size: 1rem;
    width:8%;
    color: rgb(112, 112, 112);/*variable*/ 
}

.fctn i :nth-of-type(3){
    color:#9356DC ; /*variable*/ 
}



.fctn-iconemenu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width:8%;
    gap:0.3rem;
}



/*restos*/



#restos {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: rgb(243, 243, 243);/*variable*/ 
}
.restos-titre {
    padding-left: 2.5rem;
 }
.restos-fig {
   position: relative;
}

.restos-photos {
    max-width: 100%;
    max-height: 80%;
    border-radius: 15px 15px 0 0;
    
}

.restos-nouveau {
    border: 3px #99E2D0 solid;
    background-color: #99E2D0;
    color: rgb(0, 116, 58);
    font-weight: bold;
    width: 20%;
    position: absolute;
    top: 1rem;
    right: 1rem;
    text-align: center;
}   /*--pseudo element before after--*/

.restos-legende {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.restos-infos {
    display: flex;
    flex-direction: column;
}

.restos-coeur {
    width: 3rem;
    height: 3rem;
    cursor: pointer;
}

.restos-coeur_plein {
    font-size: 0rem;
    display: none;  
}

.restos-coeur:active  > .restos-coeur_plein {
    color: transparent;
    background-image: linear-gradient(to bottom, #9356DC, #FF79DA);
    font-size: 2rem;
    font-weight: 300;
    display: block;
}

.restos-coeur_vide {
font-size: 2rem;

}

.restos-coeur:active  > .restos-coeur_vide  {
    
    font-size: 0rem;  
}


figcaption {
    background-color: white;
    border-radius: 0 0 15px 15px ;
    padding-left: 1.5rem;
    padding-right: 2rem;
}


/*--Footer--*/


footer {
    background-color: rgb(65, 65, 65);/*variable*/ 
    color: white;
    padding-left: 1.5rem;
    padding-top: 1.5rem;
}


.footer-logo_white {
    font-family: Shrikhand;
    font-weight: 500;
    color: white;
}

li  {
   list-style: none; 
}

.footer-ancres_illustrees {
    display: flex;
    flex-direction: row;
    align-items: center; 
}

.footer-ancres {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    line-height: 3rem;
}

.footer-icones {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 1.5rem;
}



}


@media screen  and (min-width: 768px) and (max-width: 990px) {
    

    @font-face {
        font-family: Roboto;
        src: url('./robotofonts/roboto_regular_macroman/Roboto-Regular-webfont.woff');
    }

    body {
        font-family: Roboto;
    
    }

    .container-logo {
        display:flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
    
    }

    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color:rgb(222, 222, 222);
        gap: 1rem;
        padding-top: 2rem;
    } 

    .container-titres {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 12rem;
        background-color:rgb(245, 245, 245);
        padding-left: 2rem;
        padding-right: 2rem;
        border-radius: 25px;
        
    }

    .btn-ancre-explorer {
        width: 60%;
        background-color: #9356DC;
        background-image: linear-gradient(to top left, #9356DC, #FF79DA);
        border-radius: 20px;
        text-decoration: none;
        line-height: 3rem;
        width: 50%;
        text-align: center;
        color: white;
        margin-top: 2rem;
    }

    .formulaire {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 5rem;
        background-color: rgb(222, 222, 222);
        
    }
    
    .formulaire-texte {
        color: rgb(54, 54, 54);
        font-weight: 700;
        background-color: rgb(222, 222, 222);
        border: rgb(222, 222, 222);
        width: 33%;
        padding-left: 5px;
        border-bottom: 4px solid rgb(203 203 203);   
    } 
       
    .formulaire-icone {
        color: rgb(54, 54, 54);
        margin-right: 10px;
    }

    .fctn {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2rem;
        padding-left: 3rem;
        padding-right: 3rem;
        margin-top: 2rem;
    }
    
    .section-fctn-titre{
        width: 100%;
        padding-left: 43%; 
    }
    
    .btn-fctn {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 30%;
        height: 4rem;
        border: 0px rgb(227, 227, 227) solid;
        border-radius: 50px;
        box-shadow: 7px 15px 4px rgb(218, 218, 218);
        position: relative;
        cursor: pointer;
    }
    
    .fctn-nmbr{
        background-color: #9356DC;
        background-image: linear-gradient(to top right, #9356DC, #FF79DA);
        color: white;
        width: 29px;
        height: 23px;
        font-size: 1rem;
        font-weight: 500;
        text-align: center;
        border-radius: 50px;
        padding-top: 6px;
        position: relative;
        left: -1rem;
    }
    
    .fctn i {
        font-size: 1rem;
        font-weight: 900;
        color: rgb(143, 143, 143);
    }
    
    .fctn-icones {
        border-radius: 50px;
        padding: 10px;
        
    }
    
    .fctn-texte {
        font-size: 1rem;
        font-weight: bold;
        width: 50%;
        color: rgb(58, 58, 58);
    }


    #restos {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgb(255, 255, 255);
        margin-top: 5rem;
        margin-bottom: 3rem;
    }
   
    #restos article{    
        width: 90%; 
        margin-bottom: 2rem; 
    }

    .restos-fig {
        width: 80%;
        position: relative;
        display: flex;
        flex-direction: column;
        margin-left: 6rem;
        box-shadow: 16px 15px 8px rgb(218 218 218);
        border-radius: 0 0 15px 15px;
    }
    
    #restos img {
        width: 100%;
        height: 300px;
        object-fit: cover;
        border-bottom: 0;
        border-radius: 15px 15px 0 0;
        box-sizing: border-box;
    }

    .restos-legende {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-left: 0.4rem;
        padding-right: 2rem;
        background-color: white;
        border-radius: 0 0 15px 15px;
        border-top: 0;
        box-sizing: border-box; 
    }

    .restos-infos {
        display: flex;
        flex-direction: column;
    }

    .restos-nouveau {
        border: 3px rgb(132, 255, 108) solid;
        background-color: rgb(132, 255, 108);
        color: rgb(0, 116, 58);
        font-weight: bold;
        width: 20%;
        position: absolute;
        top: 1rem;
        right: 1rem;
        text-align: center;
    }   

    
.restos-coeur {
    width: 3rem;
    height: 3rem;
    cursor: pointer;
}

.restos-coeur_plein {
    font-size: 0rem;
    display: none;  
}

.restos-coeur:active  > .restos-coeur_plein {
    color: transparent;
    background-image: linear-gradient(to bottom, #9356DC, #FF79DA);
    font-size: 2rem;
    font-weight: 300;
    display: block;
}

.restos-coeur_vide {
font-size: 2rem;

}

.restos-coeur:active  > .restos-coeur_vide  {
    
    font-size: 0rem;  
}
    footer {
        background-color: rgb(65, 65, 65);
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-logo_white {
        font-family: Shrikhand;
        font-weight: 500;
        color: white;
        
    }

    footer ul {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        padding-right: 45px;
    }

    li {
        list-style: none; 
        color: white;
     }
     
     .footer-ancres,.footer-ancres_illustrees {
        width: 25%;
    }

     .footer-ancres_illustrees {
         display: flex;
         flex-direction: row;
         align-items: center;
         gap: 15px; 
     }
    
     .footer-ancres {
         display: flex;
         flex-direction: row;
         align-items: center;
         margin-top: 0.5rem;
         margin-bottom: 0.5rem;
         line-height: 3rem;
     }

     footer p,.footer-icones, footer a {
        font-weight: bold;
    }
    
    .footer-icones {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 1.5rem;
        gap: 3px;
    }
}


@media screen  and (min-width: 990px) {

    @font-face {
        font-family: Roboto;
        src: url('./robotofonts/roboto_regular_macroman/Roboto-Regular-webfont.woff');
    }

    body {
        font-family: Roboto;
    }

    .container-logo {
      display:flex;
      flex-direction: row;
      justify-content: center;
      width: 100%;
  }  
    
  header {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color:rgb(222, 222, 222);
      gap: 1rem;
      padding-top: 2rem;
  }
  
  .container-titres {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 12rem;
      background-color:rgb(245, 245, 245);
      padding-left: 2rem;
      padding-right: 2rem;
      border-radius: 25px;
  }
  .btn-ancre-explorer {
  width: 60%;
  background-color: #9356DC;
  background-image: linear-gradient(to top left, #9356DC, #FF79DA);
  border-radius: 20px;
  text-decoration: none;
  line-height: 3rem;
  width: 50%;
  text-align: center;
  color: white;
  margin-top: 2rem;
  }
  
  .formulaire {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 5rem;
      background-color: rgb(222, 222, 222);
      
  }
  
  .formulaire-texte {
      color: rgb(54, 54, 54);
      font-weight: 700;
      background-color: rgb(222, 222, 222);
      border: rgb(222, 222, 222);
      width: 33%;
      padding-left: 5px;
      border-bottom: 4px solid rgb(203 203 203);
  } 
  
  .formulaire-icone {
      color: rgb(54, 54, 54);
      margin-right: 6px;
  }
  
  .fctn {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      gap: 2rem;
      padding-left: 0rem;
      padding-right: 0rem;
      margin-top: 2rem;
  }
  
  .section-fctn-titre{
      width: 100%;
      padding-left: 43%;
          
  }
  
  .btn-fctn {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 24%;
      border: 0px rgb(227, 227, 227) solid;
      border-radius: 50px;
      box-shadow: 7px 15px 4px rgb(218, 218, 218);
      position: relative;
      font-size: 0.9rem;
  }
  
  .fctn-nmbr{
      background-color: #9356DC;
      background-image: linear-gradient(to top right, #9356DC, #FF79DA);
      color: white;
      width: 28px;
      height: 23px;
      font-size: 1rem;
      font-weight: 500;
      text-align: center;
      border-radius: 50px;
      padding-top: 6px;
      position: relative;
      left: -1rem;  
  }
  
  .fctn i {
      font-size: 1rem;
      font-weight: 900;
      color: rgb(143, 143, 143);
  }
  
  .fctn-icones {
      border-radius: 50px;
      padding: 10px; 
  }
  
  .fctn-texte {
      font-size: 1rem;
      font-weight: bold;
      width: 50%;
      color: rgb(58, 58, 58);
  }
  
  #restos {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: rgb(255, 255, 255);
      margin-top: 5rem;
      margin-bottom: 3rem;
  }
  
  #restos article{
      width: 90%;
      margin-bottom: 2rem;
  }
  
  .restos-fig {
      width: 80%;
      position: relative;
      display: flex;
      flex-direction: column;
      margin-left: 6rem;
      box-shadow: 16px 15px 8px rgb(218 218 218);
      border-radius: 0 0 15px 15px;
   }
  
  #restos img {
      width: 100%;
      height: 300px;
      object-fit: cover;
      border-bottom: 0;
      border-radius: 15px 15px 0 0;
      box-sizing: border-box;
  }
  
  .restos-legende {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding-left: 0.4rem;
      padding-right: 2rem;
      background-color: white;
      border-radius: 0 0 15px 15px;
      border-top: 0;
      box-sizing: border-box;
      
  }
  
  .restos-infos {
      display: flex;
      flex-direction: column; 
  }
  
  .restos-nouveau {
      border: 3px rgb(132, 255, 108) solid;
      background-color: rgb(132, 255, 108);
      color: rgb(0, 116, 58);
      font-weight: bold;
      width: 20%;
      position: absolute;
      top: 1rem;
      right: 1rem;
      text-align: center;
  } 

  
.restos-coeur {
    width: 3rem;
    height: 3rem;
    cursor: pointer;
}

.restos-coeur_plein {
    font-size: 0rem;
    display: none;  
}

.restos-coeur:active  > .restos-coeur_plein {
    color: transparent;
    background-image: linear-gradient(to bottom, #9356DC, #FF79DA);
    font-size: 2rem;
    font-weight: 300;
    display: block;
}

.restos-coeur_vide {
font-size: 2rem;

}

.restos-coeur:active  > .restos-coeur_vide  {
    
    font-size: 0rem;  
}

 




  footer {
      background-color: rgb(65, 65, 65);
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  
  .footer-logo_white {
      font-family: Shrikhand;
      font-weight: 500;
      color: white;
      
  }
  
  li {
      list-style: none; 
      color: white;
   }
  
  footer ul {
      display: flex;
      flex-direction: row;
      gap: 2rem;
      padding-right: 45px;
  }
  
  .footer-ancres,.footer-ancres_illustrees {
      width: 25%;
  }
  
   .footer-ancres_illustrees {
       display: flex;
       flex-direction: row;
       align-items: center;
       gap: 15px; 
   }
   
  
   .footer-ancres {
       display: flex;
       flex-direction: row;
       align-items: center;
       margin-top: 0.5rem;
       margin-bottom: 0.5rem;
       line-height: 3rem;
   }
   
   footer p,.footer-icones, footer a {
      font-weight: bold;
  }
  
  .footer-icones {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 1.5rem;
      gap: 3px;
  }
  
  }