@charset "UTF-8";
/*BOUTON EXPLORER*/
/*@mixin bouton-explorer */
/* BOUTON COMMANDER*/
/* permet de contenir le btn*/
/* permet de centrer le btn*/
/* HEADER*/
/*HEADER-(pages restaurants) */
/* COMPOSANTS animation fondu accueil + spinner*/
/*@mixin entete-home */
.entete-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(245, 245, 245);
}

/*EN-TETE-RESTAU*/
/*--FORMULAIRE--*/
/*@mixin formulaire*/
/*--SECTION FONCTIONNEMENT (fctn)--*/
/*SECTION RESTOS*/
/*animation cartes éclaircissement*/
/*mixins pour ANIMATION COEUR OPACITY = animation identique pour mobile,tablette et desktop*/
/* Eléments statiques*/
/* Eléments animés*/
/* carte */
/*Fa spin*/
/*combo de 2 mixins: icone-check-spin + contenant-cone-check-spin*/
/*--FOOTER --*/
/*COULEURS + FONTS*/
/*GENERAL*/
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.tout-home {
  display: flex;
  flex-direction: column;
  align-content: center;
}

h1, h2 {
  font-size: 1.2rem;
  font-weight: 700;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

h3 {
  font-size: 1.2rem;
  font-weight: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.titre_gras {
  font-size: 1.5rem;
  font-weight: 700;
}

.entete-home__titre, .entete-home__soustitre {
  text-align: center;
}

p {
  text-overflow: ellipsis;
  white-space: nowrap;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: black;
}

footer a {
  font-size: 1.2rem;
  color: white;
}

.footer a:hover, .footer p:hover {
  color: #9356DC;
}

article, figure {
  cursor: pointer;
}

@font-face {
  font-family: Shrikhand;
  src: url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap");
}
@keyframes btn-scale-hover {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.05);
  }
}
.btn__ancre_explorer:hover {
  box-shadow: 6px 8px 10px rgb(112, 112, 112);
  filter: brightness(100%);
  filter: brightness(105%);
  animation: btn-scale-hover 0.2s cubic-bezier(0.75, 0.82, 0.165, 1) forwards;
}

.menu-restau__btn {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.menu-restau__btn p {
  box-shadow: 6px 8px 8px rgb(222, 222, 222);
  filter: brightness(96%);
}
.menu-restau__btn p:hover {
  box-shadow: 6px 8px 10px rgb(112, 112, 112);
  animation: btn-scale-hover 0.2s cubic-bezier(0.75, 0.82, 0.165, 1) forwards;
  filter: brightness(100%);
}
.menu-restau__btn_commander {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-decoration: none;
}
.menu-restau__btn_commander p {
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-width: 193px;
  background-color: #9356DC;
  background-image: linear-gradient(to top left, #9356DC, #FF79DA);
  border-radius: 25px;
  text-decoration: none;
  text-align: center;
  color: white;
  margin-top: 3rem;
  padding-top: 1px;
  padding-bottom: 1px;
  box-shadow: 6px 8px 6px rgb(205, 205, 205);
  line-height: 3rem;
  text-align: center;
  color: white;
  font-weight: 500;
}

.header-restau {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.header-restau__logo {
  font-family: Shrikhand;
  font-size: 3rem;
  font-weight: 700;
  padding-left: 1.5rem;
}
.header-restau__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 2rem;
  margin-top: 1rem;
  height: 5rem;
}
.header-restau__container i {
  position: absolute;
  font-size: 2rem;
  font-weight: 700;
  color: rgb(54, 54, 54);
  left: 12%;
  top: 9%;
}

.footer {
  display: flex;
  flex-direction: column;
  background-color: rgb(54, 54, 54);
  color: white;
  justify-content: start;
}
.footer__masque {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 2;
  animation: accueil-fondu_animation-out 5000ms ease-in-out forwards;
}
.footer__logo_white {
  font-family: Shrikhand;
  font-weight: 500;
  color: white;
  font-size: 1.5rem;
}
.footer__liste {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
}
.footer li {
  list-style: none;
  color: white;
  line-height: 20px;
  width: 210px;
  cursor: pointer;
}
.footer__ancres_illustrees {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 14px;
  font-size: 1.2rem;
  font-weight: 600;
}
.footer__ancres {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 14px;
  font-size: 1.2rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  line-height: 3rem;
}

/*ANIMATION MENU FADE IN apparition progressive*/
@keyframes cartes-delay {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in-tiers {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.menu-restau__tiers {
  animation: fade-in-tiers 3s forwards;
}

.menu-restau__tiers article {
  animation: cartes-delay 0.7s ease-out forwards;
}

.menu-restau__cartes:nth-child(2) {
  animation-delay: 0.4s;
}

.menu-restau__cartes:nth-child(3) {
  animation-delay: 0.6s;
}

.menu-restau__cartes:nth-child(4) {
  animation-delay: 0.8s;
}

.menu-restau__cartes:nth-child(5) {
  animation-delay: 1s;
}

.header__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.entete__restau {
  width: 100%;
  margin-inline-start: 0;
  margin-inline-end: 0;
}
.entete__restau img {
  object-fit: cover;
  width: 100%;
  position: relative;
}
.entete__restau p {
  font-family: Shrikhand;
  font-size: 2.5rem;
  font-weight: 700;
  padding-left: 1.5rem;
  margin-right: 1rem;
}
.entete__restau figcaption {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-right: 3rem;
  background-color: rgb(222, 222, 222);
  border-radius: 60px 60px 0 0;
  position: relative;
  padding-right: 1rem;
}

.menu-restau__soulignement {
  position: relative;
}

.menu-restau__titre {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
  padding-top: 2rem;
  position: relative;
}

.menu-restau__cartes_slide {
  display: flex;
  flex-direction: row;
  background-color: #99E2D0;
  font-weight: 700;
  width: 3rem;
  height: 3rem;
  padding: 2rem;
  position: relative;
  left: 8rem;
}

.menu-restau__plats {
  width: 32rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.menu-restau__tiers {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-restau__cartes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 25px;
  padding-left: 1rem;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  box-shadow: 6px 8px 6px rgb(205, 205, 205);
  position: relative;
  cursor: pointer;
  overflow: hidden;
  filter: brightness(96%);
}
.menu-restau__cartes:hover {
  -webkit-filter: brightness(100%);
  box-shadow: 9px 10px 10px rgb(189, 189, 189);
}

@keyframes coeur-fill {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes accueil-coeur-fill {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* COEUR OPACITY (animationa)*/
.restau__coeur {
  font-size: 2rem;
  position: relative;
  height: 2rem;
  font-size: 2rem;
  width: 2rem;
  cursor: pointer;
  border: none;
  background-color: rgb(222, 222, 222);
  position: absolute;
  right: 80px;
}
.restau__coeur_plein {
  background: -webkit-linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: 0;
  opacity: 0;
}
.restau__coeur_vide {
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: 0;
}
.restau__coeur:hover .restau__coeur_plein {
  animation: accueil-coeur-fill 0.8s forwards;
  animation-timing-function: ease-in;
}
.restau__coeur:hover .restau__coeur_vide {
  transition: transform 0.2s ease-in-out;
  display: none;
}

/*Animation sélection plats*/
.menu-restau__cartes:hover .menu-restau__cartes_tourne {
  transform: rotate(360deg);
  transition: all 0.5s ease-in-out;
}
.menu-restau__cartes:hover .menu-restau__cartes_slide, .menu-restau__prix {
  transform: translateX(-8rem);
  transition: all 0.3s ease-in-out;
}
.menu-restau__cartes:hover .menu-restau__plats {
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  transition: width 0.3s;
  width: calc(70% - 8em);
  text-overflow: ellipsis;
  white-space: nowrap;
}

.fa-check {
  color: #99E2D0;
  font-weight: 700;
  font-size: 1.5rem;
}

.menu-restau__cartes_tourne {
  position: absolute;
  width: 1rem;
  height: 1rem;
  border-radius: 50px;
  border: 1px #99E2D0 solid;
  padding: 8px 14px 14px 10px;
  background-color: white;
  bottom: 2rem;
}

/*ANIMATION fondu accueil (masque header, masque footer) + spinner*/
@keyframes accueil-spinner {
  0% {
    transform: rotate(0deg);
    opacity: 1;
  }
  8% {
    transform: rotate(120deg);
  }
  15% {
    transform: rotate(240deg);
  }
  25% {
    transform: rotate(360deg);
  }
  35% {
    transform: rotate(480deg);
  }
  50% {
    transform: rotate(600deg);
  }
  65% {
    transform: rotate(720deg);
  }
  80% {
    transform: rotate(940deg);
  }
  90% {
    transform: rotate(1060deg);
  }
  100% {
    transform: rotate(1120deg);
    opacity: 0;
  }
}
/*ANIMATION spinner*/
@keyframes accueil-fondu_animation-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*ANIMATION fondu accueil*/
@keyframes accueil-fondu_animation-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
/*ANIMATION (masque header, masque footer)*/
.fa-spinner {
  position: fixed;
  top: 45vh;
  left: 45vw;
  width: 6rem;
  height: 6rem;
  font-size: 6rem;
  background: -webkit-linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: accueil-spinner 3s linear forwards;
  animation-iteration-count: 1;
}

.tout-home {
  animation: accueil-fondu_animation-in 5000ms ease-in-out forwards;
}

.header__masque_logo {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: white;
  animation: accueil-fondu_animation-out 5000ms ease-in-out forwards;
}

/* masque header animation fondu accueil*/
.section-fctn div:hover {
  background-color: #ecddff;
  box-shadow: 6px 8px 8px rgb(222, 222, 222);
  animation: btn-scale-hover 0.2s cubic-bezier(0.75, 0.82, 0.165, 1) forwards;
}

.section-fctn div:hover > i {
  color: #9356DC;
}

.formulaire__texte {
  color: rgb(54, 54, 54);
  font-weight: 700;
  background-color: rgb(222, 222, 222);
  border: rgb(222, 222, 222);
  border: none;
  outline: none;
}

.formulaire__border_gradient {
  background-image: linear-gradient(to bottom, rgb(112, 112, 112), rgb(222, 222, 222));
}

.formulaire__icone {
  width: 20px;
  color: rgb(54, 54, 54);
}

.formulaire {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(222, 222, 222);
}

/*ANIMATION COEUR OPACITY */
@keyframes accueil-coeur-fill {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*Composant Restos Général */
.restos__legende {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 0 0 15px 15px;
  filter: brightness(96%);
}
.restos__photos {
  width: 100%;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
  box-sizing: border-box;
}
.restos__coeur {
  font-size: 2rem;
  position: relative;
  height: 2rem;
  font-size: 2rem;
  width: 2rem;
  cursor: pointer;
  border: none;
  background-color: rgb(255, 255, 255);
}
.restos__coeur_plein {
  background: -webkit-linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: 0;
  opacity: 0;
}
.restos__coeur_vide {
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: 0;
}
.restos__nouveau {
  border: 3px #99E2D0 solid;
  background-color: #99E2D0;
  color: rgb(0, 116, 58);
  font-weight: bold;
  width: 22%;
  position: absolute;
  top: 1rem;
  right: 1rem;
  text-align: center;
}
.restos__infos {
  display: flex;
  flex-direction: column;
}
.restos__cartes {
  cursor: pointer;
}
.restos__coeur:hover .restos__coeur_plein {
  animation: accueil-coeur-fill 0.8s forwards;
  animation-timing-function: ease-in;
}
.restos__coeur:hover .restos__coeur_vide {
  transition: transform 0.2s ease-in-out;
  display: none;
  z-index: -2;
}
.restos__cartes:hover .restos__legende {
  -webkit-filter: brightness(100%);
}
.restos__cartes:hover .restos__fig {
  box-shadow: 9px 10px 10px rgb(205, 205, 205);
}

@media screen and (max-width: 786px) {
  .header__masque_logo {
    width: 94vw;
    height: 1vh;
  }

  .header__logo {
    width: 43%;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  .entete-home {
    padding-bottom: 4rem;
  }
  .entete-home__titre, .entete-home__soustitre {
    padding-left: 0.5rem;
    text-align: center;
  }

  .btn__ancre_explorer {
    background-color: #9356DC;
    background-image: linear-gradient(to top left, #9356DC, #FF79DA);
    border-radius: 20px;
    text-decoration: none;
    line-height: 3rem;
    text-align: center;
    color: white;
    cursor: pointer;
    max-width: 330px;
    filter: brightness(96%);
    padding-left: 1rem;
    padding-right: 1rem;
    width: 187px;
    margin-top: 25px;
  }

  .menu-restau__btn_commander {
    margin-top: 50px;
  }

  .entete__restau img {
    height: 28rem;
  }
  .entete__restau figcaption {
    bottom: 29px;
  }

  .footer {
    padding-right: 2rem;
    position: relative;
  }
  .footer::before {
    content: "";
    height: 15rem;
    background-color: rgb(245, 245, 245);
    position: absolute;
    top: -4rem;
    width: 100%;
    z-index: -3;
  }

  .header-restau__container {
    justify-content: flex-start;
    gap: 9%;
  }

  .menu-restau {
    position: relative;
    background-color: rgb(222, 222, 222);
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 3rem;
    top: -55px;
  }

  .menu-restau__cartes {
    min-width: 17rem;
    width: 95%;
  }

  .menu-restau__soulignement {
    position: relative;
    width: 4rem;
    bottom: 1rem;
    border-bottom: 4px #99E2D0 solid;
    border-bottom: 4px #99E2D0 solid;
  }

  .menu-restau::after {
    content: "";
    width: 100%;
    z-index: -2;
    background-color: rgb(222, 222, 222);
    position: absolute;
    left: 0rem;
    top: 0rem;
    height: 314vh;
  }

  .section-fctn {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .section-fctn__titre {
    width: 100%;
  }
  .section-fctn__etape {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 0px rgb(245, 245, 245) solid;
    color: rgb(54, 54, 54);
    position: relative;
    gap: 1rem;
    width: 100%;
    height: 3.5rem;
    background-color: rgb(245, 245, 245);
    border-radius: 17px;
    box-shadow: 5px 5px 7px rgb(222, 222, 222);
  }
  .section-fctn__numero {
    background-color: #9356DC;
    color: white;
    border-radius: 50px;
    position: absolute;
    left: -1rem;
    text-align: center;
    padding-top: 4px;
    padding-bottom: 4px;
    width: 28px;
    height: 19px;
  }
  .section-fctn i {
    font-size: 1rem;
    width: 8%;
    color: rgb(112, 112, 112);
    /*variable*/
    margin: 10px;
  }
  .section-fctn__texte {
    font-size: 1rem;
    font-weight: bold;
    width: 50%;
  }

  .restos {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
    background-color: rgb(245, 245, 245);
    padding-top: 1rem;
    margin-top: 3rem;
    padding-bottom: 4rem;
  }
  .restos__titre {
    font-size: 1.5rem;
    font-weight: 700;
    padding-left: 2.5rem;
  }
  .restos__fig {
    position: relative;
    box-shadow: 9px 10px 16px rgb(222, 222, 222);
    border-radius: 15px;
    width: auto;
  }
  .restos__photos {
    height: 15rem;
  }
  .restos__legende {
    padding-left: 1.5rem;
    padding-right: 2rem;
    height: 8rem;
  }

  .formulaire {
    height: 2rem;
    width: 100%;
    border-top: 4px #c9c9c9 solid;
    border-bottom: 1px solid rgb(222, 222, 222);
  }
  .formulaire__texte {
    width: 33%;
    padding-left: 5px;
  }
  .formulaire__icone {
    margin-right: 13px;
  }
  .formulaire__border_gradient {
    height: 2px;
  }
}
@media screen and (min-width: 786px) and (max-width: 990px) {
  .header__masque_logo {
    width: 100%;
    height: 15.2vh;
  }

  .entete-home {
    padding-bottom: 2rem;
    border-radius: 0 0 25px 25px;
  }

  .menu-restau__btn_commander {
    margin-top: 93px;
  }

  .btn__ancre_explorer {
    background-color: #9356DC;
    background-image: linear-gradient(to top left, #9356DC, #FF79DA);
    border-radius: 20px;
    text-decoration: none;
    line-height: 3rem;
    text-align: center;
    color: white;
    cursor: pointer;
    max-width: 330px;
    filter: brightness(96%);
    box-shadow: 6px 8px 8px rgb(222, 222, 222);
    width: 50%;
    margin-top: 1rem;
  }

  .entete__restau {
    height: 52rem;
  }
  .entete__restau img {
    height: 37rem;
  }
  .entete__restau figcaption {
    bottom: 104px;
    background-color: rgb(222, 222, 222);
  }

  .footer {
    padding-right: 2rem;
    position: relative;
    top: 100px;
  }
  .footer::before {
    content: "";
    height: 15rem;
    background-color: rgb(245, 245, 245);
    position: absolute;
    top: -12rem;
    width: 100%;
    z-index: -3;
  }

  .header-restau__container {
    justify-content: center;
    gap: 19%;
    padding-right: 4rem;
  }

  .menu-restau {
    position: relative;
    background-color: rgb(222, 222, 222);
    font-size: initial;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    top: -223px;
  }
  .menu-restau__soulignement {
    position: relative;
    top: -20px;
    border-bottom: 4px #99E2D0 solid;
  }
  .menu-restau::after {
    content: "";
    width: 100%;
    z-index: -2;
    background-color: rgb(222, 222, 222);
    position: absolute;
    left: 0rem;
    top: 20rem;
    height: 321vh;
  }

  .menu-restau__cartes {
    width: 84%;
  }

  .section-fctn {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    gap: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .section-fctn__titre {
    width: 100%;
    text-align: center;
  }
  .section-fctn__etape {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 0px rgb(54, 54, 54) solid;
    width: 40%;
    height: 4rem;
    border-radius: 50px;
    box-shadow: 7px 15px 17px rgb(222, 222, 222);
    position: relative;
    cursor: pointer;
  }
  .section-fctn__numero {
    background-color: #9356DC;
    color: white;
    border-radius: 50px;
    position: absolute;
    left: -1rem;
    text-align: center;
    background-image: linear-gradient(to top right, #9356DC, #FF79DA);
    font-size: 1rem;
    font-weight: 500;
    padding-top: 5px;
    width: 29px;
    height: 23px;
  }
  .section-fctn i {
    font-size: 1rem;
    font-weight: 900;
    color: rgb(112, 112, 112);
  }
  .section-fctn__icones {
    border-radius: 50px;
    margin: 10px;
  }
  .section-fctn__texte {
    font-size: 1rem;
    font-weight: bold;
    min-width: 60%;
    color: rgb(54, 54, 54);
  }

  .restos {
    display: flex;
    background-color: rgb(245, 245, 245);
    margin-bottom: 3rem;
    margin-top: 5rem;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    padding-top: 1rem;
    padding-bottom: 3rem;
    justify-content: center;
  }
  .restos__titre {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin-bottom: 2rem;
  }
  .restos__titre_gras {
    width: 200px;
  }
  .restos__fig {
    width: 80%;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 6rem;
    box-shadow: 9px 10px 16px rgb(222, 222, 222);
    border-radius: 0 0 15px 15px;
  }
  .restos__photos {
    height: 300px;
    border-bottom: 0;
  }
  .restos__legende {
    box-sizing: border-box;
    padding-left: 0.4rem;
    padding-right: 2rem;
    border-top: 0;
    height: 7rem;
  }
  .restos article {
    width: 46rem;
    margin-bottom: 1.7rem;
  }

  .formulaire {
    padding: 20px;
  }
  .formulaire__texte {
    color: rgb(54, 54, 54);
    font-weight: 700;
    background-color: rgb(222, 222, 222);
    border: rgb(222, 222, 222);
    border: none;
    outline: none;
    width: 38%;
    padding: 15px;
    border-radius: 17px;
    box-shadow: 9px 6px 4px rgb(181, 181, 181);
  }
  .formulaire__texte:hover {
    color: rgb(54, 54, 54);
    font-weight: 700;
    background-color: rgb(222, 222, 222);
    border: rgb(222, 222, 222);
    border: none;
    outline: none;
    width: 38%;
    padding: 15px;
    border-radius: 17px;
    box-shadow: 9px 6px 4px rgb(170, 170, 170);
    background-color: rgb(245, 245, 245);
  }
  .formulaire__icone {
    margin-right: 10px;
  }
  .formulaire__border_gradient {
    height: 26px;
  }
}
@media screen and (min-width: 990px) {
  .tout {
    height: 164rem;
  }

  .header__masque_logo {
    width: 100%;
    height: 20.1vh;
  }

  .entete-home {
    padding-bottom: 2rem;
    border-radius: 0 0 25px 25px;
  }

  .menu-restau__btn_commander {
    margin-top: 93px;
  }

  .btn__ancre_explorer {
    background-color: #9356DC;
    background-image: linear-gradient(to top left, #9356DC, #FF79DA);
    border-radius: 20px;
    text-decoration: none;
    line-height: 3rem;
    text-align: center;
    color: white;
    cursor: pointer;
    max-width: 330px;
    filter: brightness(96%);
    box-shadow: 6px 8px 8px rgb(222, 222, 222);
    width: 50%;
    margin-top: 25px;
  }

  .entete__restau {
    height: 52rem;
  }
  .entete__restau img {
    height: 37rem;
  }
  .entete__restau figcaption {
    bottom: 220px;
    border-bottom: 30px solid rgb(222, 222, 222);
  }

  .footer {
    padding-right: 2rem;
    position: relative;
  }
  .footer::before {
    content: "";
    height: 15rem;
    background-color: rgb(245, 245, 245);
    position: absolute;
    top: -4rem;
    width: 100%;
    z-index: -3;
  }

  .header-restau__container {
    justify-content: center;
    gap: 19%;
    padding-right: 4rem;
  }

  .menu-restau__cartes {
    width: 87%;
  }

  .menu-restau {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: rgb(222, 222, 222);
    position: relative;
    font-size: initial;
    padding-bottom: 4rem;
    top: -340px;
    /*back-background gris*/
  }
  .menu-restau__titre {
    overflow: hidden;
    width: fit-content;
  }
  .menu-restau__soulignement {
    position: relative;
    top: 0px;
    border-bottom: none;
  }
  .menu-restau::after {
    content: "";
    width: 100%;
    z-index: -2;
    background-color: rgb(222, 222, 222);
    position: absolute;
    top: 110rem;
    height: 411px;
  }
  .menu-restau__tiers {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 73%;
  }
  .menu-restau__ligne-verte {
    width: 100%;
    position: absolute;
    bottom: 1rem;
    border: 2px #99E2D0 solid;
  }

  .section-fctn {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding-left: 0rem;
    padding-right: 0rem;
    margin-top: 2rem;
  }
  .section-fctn__titre {
    width: 100%;
    text-align: center;
  }
  .section-fctn__etape {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 27%;
    border: 0px rgb(227, 227, 227) solid;
    border-radius: 50px;
    box-shadow: 7px 15px 17px rgb(218, 218, 218);
    position: relative;
    font-size: 0.9rem;
  }
  .section-fctn__numero {
    background-color: #9356DC;
    color: white;
    border-radius: 50px;
    position: absolute;
    left: -1rem;
    text-align: center;
    padding-top: 5px;
    background-image: linear-gradient(to top right, #9356DC, #FF79DA);
    width: 28px;
    height: 23px;
  }
  .section-fctn i {
    font-size: 1rem;
    font-weight: 900;
    color: rgb(112, 112, 112);
  }
  .section-fctn__icones {
    border-radius: 50px;
    margin: 10px;
  }
  .section-fctn__texte {
    font-size: 1rem;
    font-weight: bold;
    min-width: 60%;
    color: rgb(54, 54, 54);
  }

  .restos {
    display: flex;
    background-color: rgb(245, 245, 245);
    margin-bottom: 3rem;
    margin-top: 5rem;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    align-items: center;
    justify-content: center;
    padding-top: 3rem;
    padding-right: 5rem;
  }
  .restos__titre {
    text-align: center;
    margin-bottom: 3rem;
    margin-left: 6rem;
    width: 100%;
  }
  .restos__fig {
    width: 80%;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 6rem;
    box-shadow: 9px 10px 16px rgb(222, 222, 222);
    border-radius: 0 0 15px 15px;
  }
  .restos__photos {
    height: 300px;
    border-bottom: 0;
  }
  .restos__legende {
    box-sizing: border-box;
    padding-left: 0.4rem;
    padding-right: 2rem;
    border-top: 0;
    height: 7rem;
  }
  .restos article {
    width: 28rem;
    margin-bottom: 1.7rem;
  }

  .formulaire {
    padding: 20px;
  }
  .formulaire__texte {
    color: rgb(54, 54, 54);
    font-weight: 700;
    background-color: rgb(222, 222, 222);
    border: rgb(222, 222, 222);
    border: none;
    outline: none;
    width: 38%;
    padding: 15px;
    border-radius: 17px;
    box-shadow: 9px 6px 4px rgb(181, 181, 181);
  }
  .formulaire__texte:hover {
    color: rgb(54, 54, 54);
    font-weight: 700;
    background-color: rgb(222, 222, 222);
    border: rgb(222, 222, 222);
    border: none;
    outline: none;
    width: 38%;
    padding: 15px;
    border-radius: 17px;
    box-shadow: 9px 6px 4px rgb(170, 170, 170);
    background-color: rgb(245, 245, 245);
  }
  .formulaire__icone {
    margin-right: 6px;
  }
  .formulaire__border_gradient {
    height: 26px;
  }
}

/*# sourceMappingURL=style.css.map */
