
 
@keyframes btn-scale-hover {
    0% {
        transform: scale(1.0);
    }
    100% {
        transform: scale(1.05); 
    }
}   


.btn__ancre_explorer:hover {
    @include ombre-bouton-explorer-eclaircissement;
    filter: brightness(105%);
    animation: btn-scale-hover 0.2s cubic-bezier(0.75, 0.82, 0.165, 1) forwards;
}


.menu-restau__btn {

    @include ancre-commander;

        & p {
            box-shadow: 9px 10px 10px rgb(189, 189, 189);    
            filter: brightness(96%);   
            }
    
    
        & p:hover {
        box-shadow: 9px 10px 10px rgb(189, 189, 189);  
        animation: btn-scale-hover 0.2s cubic-bezier(0.75, 0.82, 0.165, 1) forwards;   
        filter: brightness(100%);   
        }
    
        &_commander {
            @include bouton-commander;
          
        }

        &_commander p {
            @include texte-bouton;
        }

  }








