
/*EN-TETE*/ 


@mixin entete-restau {
    width: 100%;
    margin-inline-start: 0;
    margin-inline-end: 0; 
}
@mixin entete-restau-images{
    object-fit: cover;
    width: 100%;
    position: relative;
}
@mixin nom-restau {
    font-family: Shrikhand;
    font-size: $font-tres-grande;
    font-weight: $font-gras;
    padding-left: 1.5rem; 
    margin-right: 1rem; 
}
@mixin pancarte{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-right: 3rem;
    background-color: $color-tertiary-light;
    border-radius: 60px 60px 0 0;
    position: relative;
    padding-right: 1rem;
}

.entete__restau  {
    @include entete-restau; 

    & img {
        @include entete-restau-images;
    } 

    & p  {
        @include nom-restau;  
    }

    & figcaption {
        @include pancarte; 
    }

} 




