/*--FOOTER --*/

@mixin footer {
    display: flex;
    flex-direction: column;
    background-color: $color-tertiary-darker; 
    color: white;
    justify-content: start;
}
@mixin footer-logo-white{
    font-family: Shrikhand;
    font-weight: 500;
    color: white;
    font-size: $font-grande;
}
@mixin footer-liste {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
}
@mixin footer-li {
    list-style: none;
    color: white;
    line-height: 20px;
    width: 210px;
    cursor: pointer;
}
@mixin footer-ancres {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 14px;
    font-size: 1.2rem;
}
@mixin footer-ancres-illustrees{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 14px;
    font-size: 1.2rem;
    font-weight: 600;  
}


.footer {
    @include footer;

    &__masque{
        position:absolute;
        bottom: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background-color: white;
        z-index: 2;
        @include fade-out;
    }
    &__logo_white {
        @include footer-logo-white;
    }
    &__liste  {
        @include footer-liste;
    }

    & li {
        @include footer-li;
    }

    &__ancres_illustrees {
        @include footer-ancres-illustrees;
    }
    &__ancres {
        @include footer-ancres;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        line-height: 3rem;
    }  

}





