
/*SECTION RESTOS*/


@mixin menu-restau-tablette-desktop {
    display: flex;
    background-color: $color-tertiary-lighter;
    margin-bottom: 3rem;
    margin-top: 5rem;
    flex-direction: row;
    flex-wrap: wrap;   
}
@mixin ombre-cartes {
    box-shadow: 9px 10px 16px $color-tertiary-light;
}
@mixin cartes-home-tablette-desktop {
    width: 80%;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 6rem;
    @include ombre-cartes;
    border-radius: 0 0 15px 15px;
}
@mixin resto-photos { 
    width: 100%;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
    box-sizing: border-box;
}
@mixin resto-nouveau{
    border: 3px $color-emphasis-light solid;
    background-color: $color-emphasis-light;
    color: $color-emphasis-dark;
    font-weight: bold;
    width: 22%;
    position: absolute;
    top: 1rem;
    right: 1rem;
    text-align: center;
} 
@mixin resto-legende {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 0 0 15px 15px ;
    filter: brightness(96%); 
}
@mixin legende-mobile {
    padding-left: 1.5rem;
    padding-right: 2rem;
    height: 8rem; 
}
@mixin legende-tablette-desktop {
    box-sizing: border-box; 
    padding-left: 0.4rem;
    padding-right: 2rem;
    border-top: 0;
    height: 7rem;
    
}
@mixin restos-infos{
    display: flex;
    flex-direction: column;
} 

                                            /*animation cartes éclaircissement*/
@mixin ombre-cartes-assombrissement {
    box-shadow: 9px 10px 10px rgb(189, 189, 189);
}
@mixin cartes-animation-eclaircissement {
    -webkit-filter: brightness(100%);  
}

     /*mixins pour ANIMATION COEUR OPACITY = animation identique pour mobile,tablette et desktop*/
                                            
@mixin restos-coeur {
    font-size: 2rem;
    position: relative;
    height: 2rem;
    font-size: 2rem;
    width: 2rem;
    cursor: pointer;
    border: none;
    background-color: rgb(255, 255, 255); 
}            
@mixin restos-coeur-plein {
    background: -webkit-linear-gradient(#9356DC, #FF79DA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 0;
    opacity: 0;
}
@mixin restos-coeur-vide {
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 0;
}

/*Composant Restos Général */

.restos {

    &__coeur {
        @include restos-coeur; 
    }        

    &__coeur_plein {
        @include restos-coeur-plein;
    }

    &__coeur_vide {
        @include restos-coeur-vide;
    }
    &__nouveau {
        @include resto-nouveau;
    } 
    &__infos {
        @include restos-infos;
    } 
    &__cartes{
        cursor: pointer;  
    }

}

/*ANIMATION COEUR OPACITY */

@keyframes accueil-coeur-fill {
    from {
    opacity: 0;
    
    }

    to {
        opacity: 1;
        
    }
}

.restos__coeur:hover  .restos__coeur_plein {
    animation: accueil-coeur-fill 0.7s forwards;
    animation-timing-function: ease-in;
    
}    
.restos__coeur:hover .restos__coeur_vide {
    transform: scale(1.1) ;
    transition: transform  0.2s ease-in-out;
    display:none;
    z-index: -2;
    
}  

/*animation figcaption-lighten*/

.restos__cartes:hover  .restos__legende {
    @include cartes-animation-eclaircissement;    
}

.restos__cartes:hover  .restos__fig {
    @include ombre-cartes-assombrissement;     
}

.restos__legende {
    @include resto-legende;     
}
.restos__photos {
    @include resto-photos;
}

/*Responsive  Restos  */

@media screen and (max-width: 768px) {

.restos {
    display: flex;
    flex-direction: column; 
    margin-bottom: 3rem;
    background-color: $color-tertiary-lighter;
    padding-top: 1rem;
    margin-top: 3rem;
    padding-bottom: 4rem;  


        &__titre {
            font-size: $font-grande; 
            font-weight: $font-gras;
            padding-left: 2.5rem;
        }

        &__fig {
            position: relative;
            @include ombre-cartes;
            width: 92%;
            border-radius: 15px;

        }

        &__photos  { 
            height: 15rem;
        }

        &__legende {
            @include legende-mobile;
        }          

    } 

} 

@media screen  and (min-width: 768px) and (max-width: 990px) {
    
    .restos {
        @include menu-restau-tablette-desktop;
        padding-top: 1rem;
        padding-bottom: 3rem;  
    

        &__titre {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            text-align: center;
            margin-bottom: 2rem;
        }

        &__titre_gras {
            width: 200px;
        }

        &__fig  {
            @include cartes-home-tablette-desktop;
        }

        &__photos {
            height: 300px;
            border-bottom: 0;  
        }

        &__legende {
            @include legende-tablette-desktop;       
        }

        & article {
            width: 55rem;
            margin-bottom: 1.7rem;
        }  
    
    } 

} 

@media screen  and (min-width: 990px) {
    
    .restos {
        @include menu-restau-tablette-desktop; 
        align-items: center;
        justify-content: center;
        padding-top: 3rem;
        padding-right: 5rem;   

        &__titre {
            text-align: center;
            margin-bottom: 3rem;
            margin-left: 6rem;
            width: 100%;
        }

        &__fig {
            @include cartes-home-tablette-desktop; 
        }
        
        &__photos {
            height: 300px;
            border-bottom: 0;  
        }

        &__legende {
            @include legende-tablette-desktop;
            
        }

        & article {
            width: 28rem;
            margin-bottom: 1.7rem;
        }       

    } 
}