@media screen  and (min-width: 990px) {
    @font-face {
        font-family: Shrikhand;
        src: url(./shrikhand/Shrikhand-Regular.otf);
    }

body {
        font-family: 'Roboto', sans-serif;          
}  

h1, h2 {
    font-size: 1.2rem;
    font-weight: 900;
}

p {
    font-size: 1rem;
    font-weight: normal;
}
  
a {
    text-decoration: none;
    cursor: pointer;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:rgb(222, 222, 222);
    gap: 1rem;
    padding-top: 2rem;
}



.container-logo {
    display:flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.container-titre {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 12rem;
    background-color:rgb(245, 245, 245);
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 25px;
}

.btn-ancre-explorer {
    width: 60%;
    background-color: #9356DC;
    background-image: linear-gradient(to top left, #9356DC, #FF79DA);
    border-radius: 20px;
    text-decoration: none;
    line-height: 3rem;
    width: 50%;
    text-align: center;
    color: white;
    margin-top: 2rem;
}

.formulaire {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5rem;
    background-color: rgb(222, 222, 222);
    
}

.texte-formulaire {
    color: rgb(54, 54, 54);
    font-weight: 700;
    background-color: rgb(222, 222, 222);
    border: rgb(222, 222, 222);
    width: 33%;
    padding-left: 5px;
    border-bottom: 4px solid rgb(203 203 203);
} 

.icone-localisation {
    color: rgb(54, 54, 54);
    margin-right: 6px;
}



.fctn {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding-left: 0rem;
    padding-right: 0rem;
    margin-top: 2rem;
}

.titre-section-fctn{
    width: 100%;
    padding-left: 43%;
        
}

.btn-fctn {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 24%;
    border: 0px rgb(227, 227, 227) solid;
    border-radius: 50px;
    box-shadow: 7px 15px 4px rgb(218, 218, 218);
    position: relative;
    font-size: 0.9rem;
}

.btn-fctn:hover {
    background-color: #f3e8ff;
    cursor: pointer;
}
/*rajouter hover-focus-active pour i font awesome*/

.nmbr-fctn{
    background-color: #9356DC;
    background-image: linear-gradient(to top right, #9356DC, #FF79DA);
    color: white;
    width: 28px;
    height: 23px;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    border-radius: 50px;
    padding-top: 6px;
    position: relative;
    left: -1rem;  
}

.fctn i {
    font-size: 1rem;
    font-weight: 900;
    color: rgb(143, 143, 143);
}

.icone-fctn {
    border-radius: 50px;
    padding: 10px; 
}

.fctn-texte {
    font-size: 1rem;
    font-weight: bold;
    width: 50%;
    color: rgb(58, 58, 58);
}


footer {
    background-color: rgb(65, 65, 65);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-logo_white {
    color: white;
}

li {
   list-style: none; 
   color: white;
}

.footer-liens {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px; 
}

.footer-ancres {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    line-height: 3rem;
}

.icones-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 1.5rem;
    gap: 3px;
}

footer ul {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding-right: 45px;
}



.footer-logo_white {
    font-family: Shrikhand;
    font-weight: 500;
    color: white;
    /*order: 5;
    position: absolute;
    right: 28px;
    bottom: 0rem;
    height: 1rem;
    margin-bottom: 1rem;*/
}

.footer-liens {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer-ancres {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    line-height: 3rem;
}

.footer-ancres,.footer-liens {
    width: 25%;
}

footer p,.icones-footer, footer a {
    font-weight: bold;
}

.icones-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 1.5rem;
}

#restos {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 255);
    margin-top: 5rem;
    margin-bottom: 3rem;
}


#restos img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-bottom: 0;
    border-radius: 15px 15px 0 0;
    box-sizing: border-box;
}
    


#restos article{
    
    width: 90%; 
    margin-bottom: 2rem; 
}

.restos-fig {
   width: 80%;
   position: relative;
   display: flex;
   flex-direction: column;
   margin-left: 6rem;
   box-shadow: 16px 15px 8px rgb(218 218 218);
   border-radius: 0 0 15px 15px;
}

.restos-infos {
    display: flex;
    flex-direction: column;
}

.restos-nouveau {
    border: 3px rgb(132, 255, 108) solid;
    background-color: rgb(132, 255, 108);
    color: rgb(0, 116, 58);
    font-weight: bold;
    width: 20%;
    position: absolute;
    top: 1rem;
    right: 1rem;
    text-align: center;
}   

.restos-legende {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 0.4rem;
    padding-right: 2rem;
    background-color: white;
    border-radius: 0 0 15px 15px;
    border-top: 0;
    box-sizing: border-box;
    
}

.fa-heart{
    font-size: 1.2rem;
}

.fa-heart :hover{
    cursor: pointer;

}
.fa-heart:active{
    background-image: linear-gradient(to bottom, #9356DC, #FF79DA);

}

.fa-heart:checked{
    background-image: linear-gradient(to bottom, #9356DC, #FF79DA);

}

    

}






