
/*--FORMULAIRE--*/

/*@mixin formulaire*/ 

@mixin formulaire {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: $color-tertiary-light; 
}
@mixin formulaire-texte {
    color: $color-tertiary-darker;  
    font-weight: $font-gras;
    background-color:  $color-tertiary-light;
    border:  $color-tertiary-light;
    border: none;
    outline: none;
} 

@mixin formulaire-texte-tablette-desktop {
    width: 38%;
    padding: 15px;
    border-radius: 17px;
    box-shadow: 9px 6px 4px $color-tertiary-medium;
}
@mixin formulaire-texte-combo-tablette-desktop{
    @include formulaire-texte;
    @include formulaire-texte-tablette-desktop;  
}
@mixin formulaire-icone{
    width: 20px;
    color: $color-tertiary-darker;
}
@mixin formulaire-border-gradient {
    background-image: linear-gradient(to bottom,$color-tertiary-dark, #c9c9c9);
}



.formulaire__texte {
    @include formulaire-texte;
} 
.formulaire__border_gradient{
    @include formulaire-border-gradient;
}
.formulaire__icone {
    @include formulaire-icone;
}
.formulaire {
    @include formulaire;  
}


/*--SECTION FONCTIONNEMENT (fctn)--*/


@mixin etape-fctn-hover {
    background-color: #ecddff;
}
@mixin section-fctn__numero{
    background-color: $color-primary;
    color: white;
    border-radius: 50px; 
    position: absolute;
    left: -1rem;
    text-align: center;
}
@mixin section-fctn__icones{
    border-radius: 50px;
    margin: 10px;  
}
@mixin fctn-texte-tablette-desktop {
    font-size: 1rem;
    font-weight: bold;
    min-width: 60%;
    color: $color-tertiary-darker;
}

.section-fctn div:hover { 
    @include etape-fctn-hover;
    @include ombre-bouton-explorer; 
    animation: btn-scale-hover 0.2s cubic-bezier(0.75, 0.82, 0.165, 1) forwards; 
    }

.section-fctn div:hover > i {
    color: $color-primary;
    }

/*SECTION RESTOS*/


@mixin menu-restau-tablette-desktop {
    display: flex;
    background-color: $color-tertiary-lighter;
    margin-bottom: 3rem;
    margin-top: 5rem;
    flex-direction: row;
    flex-wrap: wrap;   
}
@mixin ombre-cartes {
    box-shadow: 9px 10px 16px $color-tertiary-light;
}
@mixin cartes-home-tablette-desktop {
    width: 80%;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 6rem;
    @include ombre-cartes;
    border-radius: 0 0 15px 15px;
}
@mixin resto-photos { 
    width: 100%;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
    box-sizing: border-box;
}
@mixin resto-nouveau{
    border: 3px $color-emphasis-light solid;
    background-color: $color-emphasis-light;
    color: $color-emphasis-dark;
    font-weight: bold;
    width: 22%;
    position: absolute;
    top: 1rem;
    right: 1rem;
    text-align: center;
} 
@mixin resto-legende {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 0 0 15px 15px ;
    filter: brightness(96%); 
}
@mixin legende-mobile {
    padding-left: 1.5rem;
    padding-right: 2rem;
    height: 8rem; 
}
@mixin legende-tablette-desktop {
    box-sizing: border-box; 
    padding-left: 0.4rem;
    padding-right: 2rem;
    border-top: 0;
    height: 7rem;
    
}
@mixin restos-infos{
    display: flex;
    flex-direction: column;
} 

                                            /*animation cartes éclaircissement*/
@mixin ombre-cartes-assombrissement {
    box-shadow: 9px 10px 10px rgb(189, 189, 189);
}
@mixin cartes-animation-eclaircissement {
    -webkit-filter: brightness(100%);  
}

     /*mixins pour ANIMATION COEUR OPACITY = animation identique pour mobile,tablette et desktop*/
                                            
@mixin restos-coeur {
    font-size: 2rem;
    position: relative;
    height: 2rem;
    font-size: 2rem;
    width: 2rem;
    cursor: pointer;
    border: none;
    background-color: rgb(255, 255, 255); 
}            
@mixin restos-coeur-plein {
    background: -webkit-linear-gradient(#9356DC, #FF79DA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 0;
    opacity: 0;
}
@mixin restos-coeur-vide {
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 0;
}

/*ANIMATION COEUR OPACITY */

@keyframes accueil-coeur-fill {
    from {
    opacity: 0;
    
    }

    to {
        opacity: 1;
        
    }
}


/*Composant Restos Général */

.restos {

    &__legende {
        @include resto-legende;     
    }
    &__photos {
        @include resto-photos;
    }

    &__coeur {
        @include restos-coeur; 
    }        

    &__coeur_plein {
        @include restos-coeur-plein;
    }

    &__coeur_vide {
        @include restos-coeur-vide;
    }

    &__nouveau {
        @include resto-nouveau;
    } 

    &__infos {
        @include restos-infos;
    } 

    &__cartes{
        cursor: pointer;  
    }
  
    &__coeur:hover  &__coeur_plein {
        animation: accueil-coeur-fill 0.7s forwards;
        animation-timing-function: ease-in;
        
    }

    &__coeur:hover &__coeur_vide {
        transform: scale(1.1) ;
        transition: transform  0.2s ease-in-out;
        display:none;
        z-index: -2; 
    } 

    &__cartes:hover  &__legende {
        @include cartes-animation-eclaircissement;    
    }
    
    &__cartes:hover  &__fig {
        @include ombre-cartes-assombrissement;     
    }

}


    
 


