

/*EN-TETE-RESTAU*/ 


@mixin entete-restau {
    width: 100%;
    margin-inline-start: 0;
    margin-inline-end: 0; 
}
@mixin entete-restau-images{
    object-fit: cover;
    width: 100%;
    position: relative;
}
@mixin nom-restau {
    font-family: Shrikhand;
    font-size: $font-tres-grande;
    font-weight: $font-gras;
    padding-left: 1.5rem; 
    margin-right: 1rem; 
}
@mixin pancarte{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-right: 3rem;
    background-color: $color-tertiary-light;
    border-radius: 60px 60px 0 0;
    position: relative;
    padding-right: 1rem;
}

/* Eléments statiques*/

@mixin menu-restau-tiers {
    display: flex;
    flex-direction: column;
    align-items: center;
}
@mixin restau-titre { 
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    font-weight: $font-gras;
    font-size: $font-grande;
    line-height: 2rem;
    padding-top: 2rem;
    position: relative;
}
@mixin ligne-verte { 
    position: relative;
}
@mixin ligne-verte-mobile-tablette {
    border-bottom: 4px $color-emphasis-light solid;
}
@mixin cartes-slide {
    display: flex;
    flex-direction: row;
    background-color: $color-emphasis-light;
    font-weight: $font-gras;
    width: 3rem;
    height: 3rem;
    padding: 2rem;
    position: relative;
    left: 8rem;
}
@mixin cartes-ellipse-texte{
    width: 32rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
@mixin back-background-gris{
    content: "";
    width: 100%;
    z-index: -2; 
    background-color: $color-tertiary-light ;
    position: absolute;
}

.menu-restau__soulignement {  
    @include ligne-verte;  
}

.menu-restau__titre { 
    @include restau-titre;
}

.menu-restau__cartes_slide {
    @include cartes-slide;
}

.menu-restau__plats {
    @include cartes-ellipse-texte;
}

.menu-restau__tiers  {
    @include menu-restau-tiers;
}


/* Eléments animés*/

/* carte */

@mixin cartes-restaurant{ 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 25px;
    padding-left: 1rem;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    box-shadow: 6px 8px 6px $color-tertiary-medium;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    filter: brightness(96%);
}
   
.menu-restau__cartes { 
    @include cartes-restaurant;
    
    &:hover { 
        -webkit-filter: brightness(100%);
        box-shadow: 9px 10px 10px rgb(189, 189, 189);
    }
}


/*Fa spin*/

@mixin icone-check-spin {
    color: $color-emphasis-light;
    font-weight: $font-gras;
    font-size: $font-grande;
}
@mixin contenant-icone-check-spin { 
    position: absolute;
    width: 1rem;
    height: 1rem;
    border-radius: 50px;
    border: 1px $color-emphasis-light solid;
    padding: 8px 14px 14px 10px;
    background-color: white;
    bottom: 2rem;
}
@mixin animation-tourne {
    .fa-check {
        @include icone-check-spin;
    }

    .menu-restau__cartes_tourne /* div*/  { 
        @include contenant-icone-check-spin;
    }
}/*combo de 2 mixins: icone-check-spin + contenant-cone-check-spin*/

@mixin restau-coeur {
    font-size: 2rem;
    position: relative;
    height: 2rem;
    font-size: 2rem;
    width: 2rem;
    cursor: pointer;
    border: none;
    background-color: $color-tertiary-light; 
    position: absolute;
    right: 80px;
}        
@mixin restau-coeur-plein {
    background: -webkit-linear-gradient($color-primary, $color-secondary);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 0;
    opacity: 0;
}
@mixin restau-coeur-vide {
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 0;
}
@keyframes coeur-fill {
    from {
      opacity: 0;
      
    }
  
    to {
        opacity: 1;
        
    }
  }
@keyframes accueil-coeur-fill {
    from {
      opacity: 0;
      
    }
  
    to {
        opacity: 1;
    }
  }

/* COEUR OPACITY (animationa)*/

.restau__coeur {
    @include restau-coeur; 
        
        &_plein {
            @include restau-coeur-plein;
        }

        &_vide {
            @include restau-coeur-vide;
        }

        &:hover  &_plein {
            animation: accueil-coeur-fill 0.7s forwards;
            animation-timing-function: ease-in;
            
        }    
        &:hover &_vide {
            transform: scale(1.1) ;
            transition: transform  0.2s ease-in-out;  
            display: none;
            z-index: -2;
        } 
}


/*Animation sélection plats*/

.menu-restau {
    
    &__cartes:hover &__cartes_tourne {
        transform: rotate(360deg);
        transition: all 0.5s ease-in-out;
    }
    
    &__cartes:hover &__cartes_slide, &__prix {
        transform: translateX(-8rem);
        transition: all 0.5s ease-in-out;
    }
    
    &__cartes:hover &__plats {
        overflow: hidden;
        transition: all 0.3s ease-in-out;
        transition: width 0.3s ;
        width: calc(70% - 8em);
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    
} 