
/*COULEURS + FONTS*/

$color-primary: #9356DC;

$color-secondary: #FF79DA;

$color-tertiary-darker:rgb(54, 54, 54);
$color-tertiary-dark:rgb(112, 112, 112);
$color-tertiary-shadow-dark:rgb(170, 170, 170);
$color-tertiary-shadow-light:rgb(181, 181, 181);
$color-tertiary-medium:rgb(205 205 205);
$color-tertiary-light: rgb(222, 222, 222);
$color-tertiary-lighter:rgb(245, 245, 245);

$color-emphasis-light: #99E2D0 ;
$color-emphasis-dark: rgb(0, 116, 58);

$font-gras: 700;
$font-tres-gras: 900;
$font-normale: 1rem;
$font-moyenne: 1.2rem;
$font-grande: 1.5rem;
$font-tres-grande: 2.5rem;

$formulaire-border-hauteur:26px;